@font-face {
    font-display: block;
    font-family: 'Optimistic Display';
    font-style: normal;
    font-weight: 700;
    src: url(https://static.xx.fbcdn.net/rsrc.php/yU/r/WXBYOaYZuYu.woff2) format('woff2'), url(https://static.xx.fbcdn.net/rsrc.php/yY/r/uFQSckMfvjy.woff) format('woff'), url(https://static.xx.fbcdn.net/rsrc.php/ye/r/EvBN2KAyST_.eot) format('embedded-opentype');
}

@font-face {
    font-display: block;
    font-family: 'Optimistic Display';
    font-style: normal;
    font-weight: 500;
    src: url(https://static.xx.fbcdn.net/rsrc.php/yL/r/jfwoHaS3i0K.woff2) format('woff2'), url(https://static.xx.fbcdn.net/rsrc.php/yx/r/fTvKFwGz9bf.woff) format('woff'), url(https://static.xx.fbcdn.net/rsrc.php/yV/r/J1XKtFquvMN.eot) format('embedded-opentype');
}

@font-face {
    font-display: block;
    font-family: 'Optimistic Display';
    font-style: normal;
    font-weight: 300;
    src: url(https://static.xx.fbcdn.net/rsrc.php/yJ/r/gJ8wmjmQhMa.woff2) format('woff2'), url(https://static.xx.fbcdn.net/rsrc.php/yG/r/6EsmO4OOkIi.woff) format('woff'), url(https://static.xx.fbcdn.net/rsrc.php/y4/r/d8NpUU2wnvQ.eot) format('embedded-opentype');
}

@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');

body {
    font-family: inherit;
    background: #e9eaeb;
    background-image: radial-gradient(50% 50% at 50% 50%, rgba(160, 51, 255, .024) 0%, rgba(160, 51, 255, 0) 50%), radial-gradient(50% 50% at 50% 50%, rgba(160, 51, 255, .04) 0%, rgba(160, 51, 255, 0) 75%), radial-gradient(50% 50% at 50% 50%, rgba(160, 51, 255, .064) 0%, rgba(160, 51, 255, 0) 100%), radial-gradient(50% 50% at 50% 50%, rgba(24, 119, 242, .024) 0%, rgba(24, 119, 242, 0) 50%), radial-gradient(50% 50% at 50% 50%, rgba(24, 119, 242, .04) 0%, rgba(24, 119, 242, 0) 75%), radial-gradient(50% 50% at 50% 50%, rgba(24, 119, 242, .064) 0%, rgba(24, 119, 242, 0) 100%), radial-gradient(50% 50% at 50% 50%, rgba(255, 108, 92, .024) 0%, rgba(255, 108, 92, 0) 50%), radial-gradient(50% 50% at 50% 50%, rgba(255, 108, 92, .04) 0%, rgba(255, 108, 92, 0) 75%), radial-gradient(50% 50% at 50% 50%, rgba(255, 108, 92, .064) 0%, rgba(255, 108, 92, 0) 100%), radial-gradient(50% 50% at 50% 50%, rgba(245, 206, 51, .024) 0%, rgba(245, 206, 51, 0) 50%), radial-gradient(50% 50% at 50% 50%, rgba(245, 206, 51, .04) 0%, rgba(245, 206, 51, 0) 75%), radial-gradient(50% 50% at 50% 50%, rgba(245, 206, 51, .064) 0%, rgba(245, 206, 51, 0) 100%), radial-gradient(50% 50% at 50% 50%, rgba(37, 211, 102, .024) 0%, rgba(37, 211, 102, 0) 50%), radial-gradient(50% 50% at 50% 50%, rgba(37, 211, 102, .04) 0%, rgba(37, 211, 102, 0) 75%), radial-gradient(50% 50% at 50% 50%, rgba(37, 211, 102, .064) 0%, rgba(37, 211, 102, 0) 100%), radial-gradient(50% 50% at 50% 50%, rgba(24, 119, 242, .024) 0%, rgba(24, 119, 242, 0) 50%), radial-gradient(50% 50% at 50% 50%, rgba(24, 119, 242, .04) 0%, rgba(24, 119, 242, 0) 75%), radial-gradient(50% 50% at 50% 50%, rgba(24, 119, 242, .064) 0%, rgba(24, 119, 242, 0) 100%);
    color: #1c1e21;
    direction: ltr;
    line-height: 1.28;
    font-size: 12px;
}

._61ve div {
    font-family: inherit;
}

._6nw._61ve div {
    font-family: inherit;
}

._61ve span {
    font-family: inherit;
}

._6nw._61ve span {
    font-family: inherit;
}

.x10wlt62 {
    overflow-y: hidden;
}

.x5yr21d {
    height: 100%;
}

body {
    background: #fff;
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    margin: 0;
    padding: 0;
    unicode-bidi: embed;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}

body {
    overflow-y: scroll;
}

html {
    touch-action: manipulation;
}

:root {
    --fds-black-alpha-10: rgba(0, 0, 0, 0.1);
    --fds-gray-05: #F2F3F5;
    --accent: hsl(214, 89%, 52%);
    --always-white: #FFFFFF;
    --badge-background-color-blue: var(--accent);
    --badge-background-color-dark-gray: var(--secondary-icon);
    --badge-background-color-gray: var(--disabled-icon);
    --badge-background-color-green: var(--positive);
    --badge-background-color-light-blue: var(--highlight-bg);
    --badge-background-color-red: var(--notification-badge);
    --badge-background-color-yellow: var(--base-lemon);
    --base-lemon: #F7B928;
    --disabled-button-background: #E4E6EB;
    --disabled-icon: #BCC0C4;
    --focus-ring-blue: #1877F2;
    --highlight-bg: #E7F3FF;
    --inverse-text: var(--always-white);
    --messenger-card-background: #FFFFFF;
    --mwp-header-background-color: var(--messenger-card-background);
    --mwp-header-button-color: var(--accent);
    --mwp-message-row-background: var(--messenger-card-background);
    --notification-badge: #e41e3f;
    --placeholder-text: #65676B;
    --positive: #31A24C;
    --primary-icon: #050505;
    --secondary-button-background: #E4E6EB;
    --secondary-icon: #65676B;
    --shadow-1: rgba(0, 0, 0, 0.1);
    --shadow-2: rgba(0, 0, 0, 0.2);
    --shadow-5: rgba(0, 0, 0, 0.5);
    --shadow-base: 0 1px 2px var(--shadow-2);
    --shadow-emphasis: 0 2px 12px var(--shadow-2);
    --input-border-color-hover: var(--placeholder-text);
    --tooltip-box-shadow: 0 2px 4px 0 var(--shadow-5);
    --chat-outgoing-message-bubble-background-color: var(--accent);
    --radio-border-color: var(--primary-icon);
    --radio-border-color-disabled: var(--disabled-button-background);
    --radio-border-color-selected: var(--accent);
    --radio-checked-icon-color: var(--accent);
    --radio-checked-icon-color-disabled: var(--disabled-button-background);
    --button-height-medium: 36px;
    --card-box-shadow: 0 12px 28px 0 var(--shadow-2), 0 2px 4px 0 var(--shadow-1);
    --focus-ring-outline-link: 2px auto var(--focus-ring-blue);
    --focus-ring-shadow-default: 0 0 0 2px var(--always-white), 0 0 0 4px var(--focus-ring-blue);
    --focus-ring-shadow-inset: 0 0 0 2px var(--focus-ring-blue) inset, 0 0 0 4px var(--always-white) inset;
}

:root {
    --fds-black-alpha-10: rgba(0, 0, 0, 0.1);
    --fds-gray-05: #F2F3F5;
    --accent: rgb(8, 102, 255);
    --always-white: rgb(255, 255, 255);
    --disabled-button-background: rgb(228, 230, 235);
    --disabled-icon: rgb(188, 192, 196);
    --notification-badge: rgb(228, 30, 63);
    --placeholder-text: rgb(101, 103, 107);
    --positive: rgb(49, 162, 76);
    --primary-icon: rgb(5, 5, 5);
    --secondary-button-background: rgb(228, 230, 235);
    --secondary-icon: rgb(101, 103, 107);
}

:root {
    --x1dflwya: var(--secondary-button-background);
    --xgcszl1: var(--button-height-medium);
}

._1mme {
    background-color: #fff;
}

._1mmd {
    box-sizing: border-box;
    overflow: hidden;
    position: absolute;
    top: 0;
}

._182x {
    overflow: hidden;
    position: absolute;
    top: 0;
}

._1gd8 {
    border-color: #d3d3d3;
}

._1gd6 {
    -webkit-backface-visibility: hidden;
    border-left-style: solid;
    border-left-width: 1px;
    left: 0;
    position: absolute;
    top: 0;
    width: 0;
}

._1gd8 {
    border-color: #dadcde;
}

._63jp {
    overflow: hidden;
    position: absolute;
    top: 0;
}

._1eyi {
    background-color: #fff;
    border-color: #d3d3d3;
}

._1eyh {
    box-sizing: border-box;
    overflow: hidden;
    position: absolute;
    top: 0;
}

._1mib {
    border-color: #d3d3d3;
}

._1mib {
    background-color: #f5f6f7;
    background-image: linear-gradient(#fff, #efefef);
}

._1eyb {
    box-sizing: border-box;
    left: 0;
    overflow: hidden;
    position: absolute;
}

._3h1a {
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

._3pzk {
    position: absolute;
    top: 0;
}

._3pzj {
    -webkit-backface-visibility: hidden;
    background-color: #fff;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    white-space: nowrap;
}

._4h2m {
    background-color: #fff;
    border-color: #d3d3d3;
}

._4lg0 {
    border-right-style: solid;
    border-right-width: 1px;
    border-width: 0 1px 0 0;
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    position: absolute;
    white-space: normal;
}

._4lg6 {
    text-align: center;
}

._4h2m {
    border: none;
}

._1mib ._4h2m {
    font-weight: bold;
}

._1mib ._4h2m {
    background-color: #f5f6f7;
    background-image: linear-gradient(#fff, #efefef);
}

._3pzj>._4h2m {
    display: inline-block;
    vertical-align: top;
    white-space: normal;
}

._4lg5 {
    text-align: right;
}

._2yl9 {
    border-color: #dadcde;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    flex-grow: 1;
    height: 100%;
    max-width: 100%;
    overflow: hidden;
}

._1mib ._2yl9 {
    border-width: 0 1px 0 0;
}

._e-x ._2yl9._4tkw {
    background-color: #fff;
    cursor: default;
}

._4lg9 {
    position: absolute;
    right: 0;
    width: 6px;
    z-index: 1;
}

._4lg9:hover {
    cursor: ew-resize;
}

._1eyi:last-child ._1mib ._4h2m:last-child ._2yl9 {
    border-width: 0;
}

._3bww,
._3bwv {
    height: 100%;
    width: 100%;
}

._3bwv {
    display: table;
}

._4lgb {
    background-color: #0284ff;
}

._4lga {
    position: absolute;
    right: 0;
    visibility: hidden;
    width: 4px;
}

._4lg9:hover ._4lga {
    visibility: visible;
}

._3bwv>._3bwy {
    display: table-cell;
    vertical-align: middle;
}

._3bww>._3bwy>._3bwx {
    display: table;
    margin: 0 auto;
}

._1b33 {
    border-color: #dadcde;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    flex-grow: 1;
    height: 100%;
    max-width: 100%;
    overflow: hidden;
}

._1b33._1b33 {
    padding: 4px 8px;
}

._1mib ._1b33 {
    border-width: 0 1px 0 0;
}

._1mib._1mib ._1b33._1b33 {
    padding: 6px 6px 6px 10px;
}

._e-x ._1b33._4tkw {
    background-color: #fff;
    cursor: default;
}

._e-x ._1b33._4tkw {
    outline: 0;
}

.x1n2onr6 {
    position: relative;
}

.x1rg5ohu {
    display: inline-block;
}

.x3oybdh {
    transform: scale(1);
}

._2si5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.x14atkfc {
    width: auto;
}

.x12peec7 {
    background-color: #fff;
}

.x13fuv20 {
    border-top-style: solid;
}

.x13ys2tp {
    border-top-color: #dadcde;
}

.x1g960bw {
    border-right-color: #dadcde;
}

.x1q0g3np {
    flex-direction: row;
}

.x1sln4lm {
    padding-left: 10px;
}

.x1yc453h {
    text-align: left;
}

.x1ypdohk {
    cursor: pointer;
}

.x26u7qi {
    border-left-style: solid;
}

.x4m756b {
    border-left-color: #dadcde;
}

.x6s0dn4 {
    align-items: center;
}

.x78zum5 {
    display: flex;
}

.x972fbf {
    border-top-width: 0;
}

.xm0m39n {
    border-left-width: 0;
}

.xm81vs4 {
    border-right-width: 1px;
}

.xsyo7zv {
    padding-right: 6px;
}

.xu3j5b3 {
    border-right-style: solid;
}

.x10b6aqq {
    padding-bottom: 6px;
}

.x14os3ni {
    border-bottom-color: #dadcde;
}

.x1q0q8m5 {
    border-bottom-style: solid;
}

.x1qhh985 {
    border-bottom-width: 0;
}

.x1yrsyyn {
    padding-top: 6px;
}

.x6ikm8r {
    overflow-x: hidden;
}

.xepox01:hover {
    background-color: var(--fds-gray-05);
}

.xcfux6l {
    border-right-width: 0;
}

.xe53cfu {
    padding-right: 22px;
}

.x1jv42bf {
    color: #1871ed;
}

a {
    color: #385898;
    cursor: pointer;
    text-decoration: none;
}

.x1fcty0u {
    font-weight: normal;
}

.x1h4wwuj {
    word-wrap: normal;
}

.xmi5d70 {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol !important;
}

.xt0psk2 {
    display: inline;
}

.x1hl2dhg {
    text-decoration: none;
}

.x1fvot60 {
    font-size: .875rem !important;
}

.x1qsmy5i {
    color: rgba(10, 120, 190, 1);
}

.xq9mrsl {
    white-space: inherit;
}

.xxio538 {
    line-height: 1.42858 !important;
}

._61ve a {
    font-family: inherit;
}

._6nw._61ve a {
    font-family: inherit;
}

a:hover {
    text-decoration: underline;
}

.xt0b8zv:hover {
    text-decoration: underline;
}

.x10y3i5r {
    border-bottom-left-radius: 4px;
}

.x178xt8z {
    border-top-width: 1px;
}

.x1lcm9me {
    border-top-left-radius: 4px;
}

.x1yr5g0i {
    border-top-right-radius: 4px;
}

.x4uap5 {
    padding-right: 0;
}

.x9f619 {
    box-sizing: border-box;
}

.xkhd6sd {
    padding-left: 0;
}

.xl56j7k {
    justify-content: center;
}

.xrt01vj {
    border-bottom-right-radius: 4px;
}

.xy80clv {
    border-left-width: 1px;
}

.x18d9i69 {
    padding-bottom: 0;
}

.xexx8yu {
    padding-top: 0;
}

.xso031l {
    border-bottom-width: 1px;
}

.xvy4d1p {
    width: 24px;
}

.xxk0z11 {
    height: 24px;
}

.x10lij0i {
    border-left-color: rgba(203, 210, 217, 1);
}

.x1gzqxud {
    background-color: rgba(255, 255, 255, 1);
}

.xbsr9hj {
    color: rgba(28, 43, 51, 1);
}

.xvyu6v8 {
    border-right-color: rgba(203, 210, 217, 1);
}

.xwebqov {
    border-top-color: rgba(203, 210, 217, 1);
}

.xrsgblv {
    border-bottom-color: rgba(203, 210, 217, 1);
}

.x10l6tqk {
    position: absolute;
}

.x13dflua {
    transition-duration: .2s;
}

.x17qophe {
    left: 0;
}

.x47corl {
    pointer-events: none;
}

.x6o7n8i {
    transition-property: opacity, transform;
}

.xds687c {
    right: 0;
}

.xg01cxk {
    opacity: 0;
}

.x13vifvy {
    top: 0;
}

.x1ey2m1c {
    bottom: 0;
}

.xxziih7 {
    transition-timing-function: cubic-bezier(.08, .52, .52, 1);
}

.x1j6awrg:after {
    position: absolute;
}

.x1s928wv:after {
    content: "";
}

.x14q35kh:after {
    border-top-right-radius: inherit;
}

.x1bs8fl3:after {
    border-left-width: 3px;
}

.x1n7iyjn:after {
    border-bottom-left-radius: inherit;
}

.x1ryaxvv:after {
    right: -1px;
}

.x1t0di37:after {
    border-top-style: inherit;
}

.x1tt7eqi:after {
    border-right-style: inherit;
}

.x1w3onc2:after {
    opacity: .2;
}

.x1wa3ocq:after {
    border-bottom-right-radius: inherit;
}

.x8lbu6m:after {
    border-right-width: 3px;
}

.x9obomg:after {
    left: -1px;
}

.xhhp2wi:after {
    border-top-left-radius: inherit;
}

.xmb4j5p:after {
    border-right-color: inherit;
}

.xmn8db3:after {
    border-top-width: 3px;
}

.xnl74ce:after {
    border-top-color: inherit;
}

.xsp6npd:after {
    border-left-style: inherit;
}

.xwmxa91:after {
    border-left-color: inherit;
}

.x1hvfe8t:after {
    top: -1px;
}

.x1te75w5:after {
    bottom: -1px;
}

.x2te4dl:after {
    border-bottom-width: 3px;
}

.xdx8kah:after {
    border-bottom-color: inherit;
}

.xe25xm5:after {
    border-bottom-style: inherit;
}

.xnx3k43 {
    right: 5px;
}

.x117nqv4 {
    font-weight: bold;
}

.xlyipyv {
    text-overflow: ellipsis;
}

.xuxw1ft {
    white-space: nowrap;
}

.xeuugli {
    min-width: 0;
}

.x1xqt7ti {
    font-family: Optimistic Display, system-ui, sans-serif !important;
}

.x63nzvj {
    line-height: 1.33334 !important;
}

.xsuwoey {
    font-size: .9375rem !important;
}

._2bka {
    line-height: 16px;
    max-height: 16px;
    overflow: hidden;
    white-space: nowrap;
}

.x67bb7w {
    pointer-events: auto;
}

input {
    background-color: #fff;
    color: #1c1e21;
}

input {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}

.x11i5rnm {
    margin-right: 0;
}

.x1mh8g0r {
    margin-left: 0;
}

.x1vjfegm {
    z-index: 1;
}

.xat24cr {
    margin-bottom: 0;
}

.xdj266r {
    margin-top: 0;
}

.xh8yej3 {
    width: 100%;
}

.x1t137rt {
    outline-style: none;
}

.x1w3u9th {
    opacity: .001;
}

.xjyslct {
    -webkit-appearance: none;
}

input {
    font-family: inherit;
}

input {
    font-family: Helvetica, Arial, sans-serif;
}

.x1f85oc2 {
    transform: scale(0);
}

.xnnyp6c {
    transition-timing-function: cubic-bezier(.12, .8, .32, 1);
}

._643k {
    float: left;
    overflow: hidden;
}

.x1pha0wt {
    align-items: baseline;
}

.x2lwn1j {
    min-height: 0;
}

._643l {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    font-size: 14px;
    -webkit-line-clamp: 3;
    line-height: 16px;
    max-height: 48px;
    overflow: hidden;
    text-align: start;
    text-overflow: ellipsis;
    white-space: normal;
}

.x1541jtf {
    color: rgba(28, 43, 51, .65);
}

.xw23nyj {
    font-size: .75rem !important;
}

i.img {
    -ms-high-contrast-adjust: none;
}

.x3nfvp2 {
    display: inline-flex;
}

._3ea9 {
    display: inline;
}

i.img u {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    left: auto;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.x120ccyz:not([stylex-hack]) svg {
    fill: currentColor;
}

button {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}

button {
    margin: 0;
}

.x17r0tee {
    border-left-style: none;
}

.x199158v {
    border-bottom-left-radius: 3px;
}

.x1c83p5e {
    border-top-right-radius: 3px;
}

.x1ejq31n {
    border-top-style: none;
}

.x1enjb0b {
    border-bottom-right-radius: 3px;
}

.x1h0ha7o {
    padding-left: 2px;
}

.x1npaq5j {
    border-top-left-radius: 3px;
}

.x8j4wrb {
    margin-left: 5px;
}

.xd10rxx {
    border-right-style: none;
}

.xg83lxy {
    padding-right: 2px;
}

.xgcd1z6 {
    background-color: inherit;
}

.x1120s5i {
    padding-bottom: 2px;
}

.x1nn3v0j {
    padding-top: 2px;
}

.x1sy0etr {
    border-bottom-style: none;
}

._61ve button {
    font-family: inherit;
}

._6nw._61ve button {
    font-family: inherit;
}

.xx8sgm8:hover {
    background-color: var(--fds-black-alpha-10);
}

.xgxxoiu {
    font-size: 0;
}

.accessible_elem {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.accessible_elem {
    height: 0;
}

.x1emribx {
    margin-right: 8px;
}


/* These were inline style tags. Uses id+class to override almost everything */
#style-3SFTd.style-3SFTd {
    z-index: 1;
    width: 1420px;
    height: 64px;
}

#style-2zJp1.style-2zJp1 {
    height: 64px;
    width: 495px;
    z-index: 2;
    left: 0px;
}

#style-pZH6k.style-pZH6k {
    height: 64px;
    width: 495px;
    will-change: transform;
    transform: translate(0px, 0px);
}

#style-WEnGo.style-WEnGo {
    height: 64px;
    width: 49px;
    left: 0px;
}

#style-68eAn.style-68eAn {
    width: 49px;
    height: 64px;
    top: 0px;
}

#style-V3wDh.style-V3wDh {
    height: 64px;
    left: 0px;
}

#style-jG5Ij.style-jG5Ij {
    height: 64px;
    position: absolute;
    width: 49px;
    will-change: transform;
    z-index: 0;
    transform: translate(0px, 0px);
}

#style-f3z5L.style-f3z5L {
    height: 64px;
    width: 49px;
    left: 0px;
}

#style-12xcC.style-12xcC {
    height: 64px;
    width: 86px;
    left: 49px;
}

#style-wa7Cj.style-wa7Cj {
    width: 86px;
    height: 64px;
    top: 0px;
}

#style-OVVJz.style-OVVJz {
    height: 64px;
    left: 0px;
}

#style-SDlyU.style-SDlyU {
    height: 64px;
    position: absolute;
    width: 86px;
    will-change: transform;
    z-index: 0;
    transform: translate(0px, 0px);
}

#style-zR8cG.style-zR8cG {
    height: 64px;
    width: 86px;
    left: 0px;
}

#style-sNktk.style-sNktk {
    height: 64px;
}

#style-YOscV.style-YOscV {
    height: 64px;
}

#style-Nt2oO.style-Nt2oO {
    display: contents;
}

#style-Mh7op.style-Mh7op {
    height: 64px;
}

#style-9DQTd.style-9DQTd {
    min-height: 52px;
}

#reporting_table_column_toggle.style-1E8dC {
    max-width: 50px;
}

#style-aJDhC.style-aJDhC {
    vertical-align: middle;
}

#style-MF8ID.style-MF8ID {
    width: 0px;
}

#style-SlpB1.style-SlpB1 {
    height: 64px;
    width: 360px;
    left: 135px;
}

#style-RCtAU.style-RCtAU {
    width: 360px;
    height: 64px;
    top: 0px;
}

#style-NEhOD.style-NEhOD {
    height: 64px;
    left: 0px;
}

#style-AvS58.style-AvS58 {
    height: 64px;
    position: absolute;
    width: 360px;
    will-change: transform;
    z-index: 0;
    transform: translate(0px, 0px);
}

#style-FHkBH.style-FHkBH {
    height: 64px;
    width: 360px;
    left: 0px;
}

#style-r8lDO.style-r8lDO {
    height: 64px;
}

#style-ESHcl.style-ESHcl {
    height: 64px;
}

#style-1bXfg.style-1bXfg {
    display: contents;
}

#style-Gh3UB.style-Gh3UB {
    height: 64px;
}

#style-Zf65o.style-Zf65o {
    min-height: 52px;
}

#reporting_table_column_name.style-yzk1K {
    max-width: 324px;
}

#style-klhfH.style-klhfH {
    vertical-align: middle;
}

#style-I6Ftp.style-I6Ftp {
    width: 0px;
}

#style-itS7t.style-itS7t {
    background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/y0/r/wwrPLYIMWpv.png");
    background-position: 0px -3915px;
    background-size: auto;
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    display: inline-block;
}

#style-yRkEC.style-yRkEC {
    height: 64px;
    width: 925px;
    z-index: 0;
    left: 495px;
}

#style-fNzTK.style-fNzTK {
    height: 64px;
    width: 2176px;
    will-change: transform;
    transform: translate(0px, 0px);
}

#style-rTmfB.style-rTmfB {
    height: 64px;
    width: 200px;
    left: 0px;
}

#style-LGv4W.style-LGv4W {
    width: 200px;
    height: 64px;
    top: 0px;
}

#style-blcBL.style-blcBL {
    height: 64px;
    left: 0px;
}

#style-foAda.style-foAda {
    height: 64px;
    position: absolute;
    width: 200px;
    will-change: transform;
    z-index: 0;
    transform: translate(0px, 0px);
}

#style-4kwb9.style-4kwb9 {
    height: 64px;
    width: 200px;
    left: 0px;
}

#style-YaCWo.style-YaCWo {
    height: 64px;
}

#style-mKtRi.style-mKtRi {
    height: 64px;
}

#style-NS2Bo.style-NS2Bo {
    display: contents;
}

#style-VDRR2.style-VDRR2 {
    height: 64px;
}

#style-p6kHW.style-p6kHW {
    min-height: 52px;
}

#reporting_table_column_delivery.style-hMCtq {
    max-width: 164px;
}

#style-PqjQe.style-PqjQe {
    vertical-align: middle;
}

#style-kKXMn.style-kKXMn {
    background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/y0/r/wwrPLYIMWpv.png");
    background-position: 0px -1925px;
    background-size: auto;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    display: inline-block;
}

#style-cfvOr.style-cfvOr {
    background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/y0/r/wwrPLYIMWpv.png");
    background-position: 0px -3915px;
    background-size: auto;
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    display: inline-block;
}

#style-wKhTI.style-wKhTI {
    height: 64px;
    width: 214px;
    left: 200px;
}

#style-dRIz4.style-dRIz4 {
    width: 214px;
    height: 64px;
    top: 0px;
}

#style-d8Goc.style-d8Goc {
    height: 64px;
    left: 0px;
}

#style-qntII.style-qntII {
    height: 64px;
    position: absolute;
    width: 214px;
    will-change: transform;
    z-index: 0;
    transform: translate(0px, 0px);
}

#style-Qp3SD.style-Qp3SD {
    height: 64px;
    width: 214px;
    left: 0px;
}

#style-l1bwt.style-l1bwt {
    height: 64px;
}

#style-PqMlr.style-PqMlr {
    height: 64px;
}

#style-zAqDr.style-zAqDr {
    display: contents;
}

#style-oLQd5.style-oLQd5 {
    height: 64px;
}

#style-IxF9g.style-IxF9g {
    min-height: 52px;
}

#reporting_table_column_campaign_name.style-goyGr {
    max-width: 178px;
}

#style-6NotP.style-6NotP {
    vertical-align: middle;
}

#style-vrFLN.style-vrFLN {
    width: 0px;
}

#style-my5Ig.style-my5Ig {
    background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/y0/r/wwrPLYIMWpv.png");
    background-position: 0px -3915px;
    background-size: auto;
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    display: inline-block;
}

#style-Bh4WK.style-Bh4WK {
    height: 64px;
    width: 134px;
    left: 414px;
}

#style-pj4oX.style-pj4oX {
    width: 134px;
    height: 64px;
    top: 0px;
}

#style-MhWyo.style-MhWyo {
    height: 64px;
    left: 0px;
}

#style-ri7J7.style-ri7J7 {
    height: 64px;
    position: absolute;
    width: 134px;
    will-change: transform;
    z-index: 0;
    transform: translate(0px, 0px);
}

#style-6Z7p3.style-6Z7p3 {
    height: 64px;
    width: 134px;
    left: 0px;
}

#style-xSJww.style-xSJww {
    height: 64px;
}

#style-anYRN.style-anYRN {
    height: 64px;
}

#style-3hNA7.style-3hNA7 {
    display: contents;
}

#style-SInxN.style-SInxN {
    height: 64px;
}

#style-ZKYz3.style-ZKYz3 {
    min-height: 52px;
}

#reporting_table_column_bid.style-Cmjde {
    max-width: 118px;
}

#style-qqoWe.style-qqoWe {
    height: 64px;
    width: 134px;
    left: 548px;
}

#style-o3sD9.style-o3sD9 {
    width: 134px;
    height: 64px;
    top: 0px;
}

#style-awi5z.style-awi5z {
    height: 64px;
    left: 0px;
}

#style-jycKI.style-jycKI {
    height: 64px;
    position: absolute;
    width: 134px;
    will-change: transform;
    z-index: 0;
    transform: translate(0px, 0px);
}

#style-RlW65.style-RlW65 {
    height: 64px;
    width: 134px;
    left: 0px;
}

#style-lwhVU.style-lwhVU {
    height: 64px;
}

#style-ndwq7.style-ndwq7 {
    height: 64px;
}

#style-aP9Gy.style-aP9Gy {
    display: contents;
}

#style-SGUmd.style-SGUmd {
    height: 64px;
}

#style-oSFs9.style-oSFs9 {
    min-height: 52px;
}

#reporting_table_column_budget.style-bEeIi {
    max-width: 118px;
}

#style-IcKgS.style-IcKgS {
    height: 64px;
    width: 139px;
    left: 682px;
}

#style-VdMBE.style-VdMBE {
    width: 139px;
    height: 64px;
    top: 0px;
}

#style-QQVje.style-QQVje {
    height: 64px;
    left: 0px;
}

#style-U2GY6.style-U2GY6 {
    height: 64px;
    position: absolute;
    width: 139px;
    will-change: transform;
    z-index: 0;
    transform: translate(0px, 0px);
}

#style-Oi37Q.style-Oi37Q {
    height: 64px;
    width: 139px;
    left: 0px;
}

#style-nPzfT.style-nPzfT {
    height: 64px;
}

#style-MJMgo.style-MJMgo {
    height: 64px;
}

#style-grNvU.style-grNvU {
    display: contents;
}

#style-onHJh.style-onHJh {
    height: 64px;
}

#style-sV8dD.style-sV8dD {
    min-height: 52px;
}

#reporting_table_column_last_significant_edit.style-LlHIr {
    max-width: 123px;
}

#style-rHo3E.style-rHo3E {
    height: 64px;
    width: 120px;
    left: 821px;
}

#style-7Cr3W.style-7Cr3W {
    width: 120px;
    height: 64px;
    top: 0px;
}

#style-krJds.style-krJds {
    height: 64px;
    left: 0px;
}

#style-qb5Ce.style-qb5Ce {
    height: 64px;
    position: absolute;
    width: 120px;
    will-change: transform;
    z-index: 0;
    transform: translate(0px, 0px);
}

#style-dxlMi.style-dxlMi {
    height: 64px;
    width: 120px;
    left: 0px;
}

#style-sR5Do.style-sR5Do {
    height: 64px;
}

#style-W9sq2.style-W9sq2 {
    height: 64px;
}

#style-Kdns4.style-Kdns4 {
    display: contents;
}

#style-wxALe.style-wxALe {
    height: 64px;
}

#style-PWEUx.style-PWEUx {
    min-height: 52px;
}

#ads_manager_table_attribution_setting_column_label_id.style-7nw9U {
    max-width: 104px;
}

#style-b6kxH.style-b6kxH {
    height: 64px;
    width: 146px;
    left: 941px;
}

#style-tLBoi.style-tLBoi {
    width: 146px;
    height: 64px;
    top: 0px;
}

#style-DyIUa.style-DyIUa {
    height: 64px;
    left: 0px;
}

#style-EHUvZ.style-EHUvZ {
    height: 64px;
    position: absolute;
    width: 146px;
    will-change: transform;
    z-index: 0;
    transform: translate(0px, 0px);
}

#style-2v9HZ.style-2v9HZ {
    height: 64px;
    width: 146px;
    left: 0px;
}

#style-PLyr2.style-PLyr2 {
    height: 64px;
}

#style-x6r22.style-x6r22 {
    height: 64px;
}

#style-DCh8o.style-DCh8o {
    display: contents;
}

#style-AlL3n.style-AlL3n {
    height: 64px;
}

#style-WBClU.style-WBClU {
    min-height: 52px;
}

#ads_manager_table_results_column_label_id.style-dvTGO {
    max-width: 110px;
}

#style-oeqk4.style-oeqk4 {
    cursor: default;
    background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yI/r/aHFgJLu8jo0.png");
    background-position: -390px -910px;
    background-size: auto;
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    display: inline-block;
}

#style-wCCEs.style-wCCEs {
    vertical-align: middle;
}

#style-tyJTA.style-tyJTA {
    width: 0px;
}

#style-9elf4.style-9elf4 {
    background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/y0/r/wwrPLYIMWpv.png");
    background-position: 0px -3915px;
    background-size: auto;
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    display: inline-block;
}

#style-8FHHO.style-8FHHO {
    height: 64px;
    width: 146px;
    left: 1087px;
}

#style-v2joo.style-v2joo {
    width: 146px;
    height: 64px;
    top: 0px;
}

#style-QzkQ7.style-QzkQ7 {
    height: 64px;
    left: 0px;
}

#style-Go7Na.style-Go7Na {
    height: 64px;
    position: absolute;
    width: 146px;
    will-change: transform;
    z-index: 0;
    transform: translate(0px, 0px);
}

#style-38qBc.style-38qBc {
    height: 64px;
    width: 146px;
    left: 0px;
}

#style-cZ1pf.style-cZ1pf {
    height: 64px;
}

#style-MlswE.style-MlswE {
    height: 64px;
}

#style-d2FXH.style-d2FXH {
    display: contents;
}

#style-GIUdv.style-GIUdv {
    height: 64px;
}

#style-tqFmC.style-tqFmC {
    min-height: 52px;
}

#reporting_table_column_reach.style-dsjxS {
    max-width: 110px;
}

#style-DoY5j.style-DoY5j {
    vertical-align: middle;
}

#style-dJHVY.style-dJHVY {
    width: 0px;
}

#style-OXUiU.style-OXUiU {
    background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/y0/r/wwrPLYIMWpv.png");
    background-position: 0px -3915px;
    background-size: auto;
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    display: inline-block;
}

#style-O3T1H.style-O3T1H {
    height: 64px;
    width: 146px;
    left: 1233px;
}

#style-ofJNg.style-ofJNg {
    width: 146px;
    height: 64px;
    top: 0px;
}

#style-bx48M.style-bx48M {
    height: 64px;
    left: 0px;
}

#style-Lznqb.style-Lznqb {
    height: 64px;
    position: absolute;
    width: 146px;
    will-change: transform;
    z-index: 0;
    transform: translate(0px, 0px);
}

#style-ZKkqQ.style-ZKkqQ {
    height: 64px;
    width: 146px;
    left: 0px;
}

#style-plaeb.style-plaeb {
    height: 64px;
}

#style-hKrUp.style-hKrUp {
    height: 64px;
}

#style-CbHxS.style-CbHxS {
    display: contents;
}

#style-d24fT.style-d24fT {
    height: 64px;
}

#style-sltWp.style-sltWp {
    min-height: 52px;
}

#reporting_table_column_impressions.style-2Ihj9 {
    max-width: 110px;
}

#style-GSbDW.style-GSbDW {
    vertical-align: middle;
}

#style-3EbU6.style-3EbU6 {
    width: 0px;
}

#style-Yxp12.style-Yxp12 {
    background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/y0/r/wwrPLYIMWpv.png");
    background-position: 0px -3915px;
    background-size: auto;
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    display: inline-block;
}

#style-m8Y9s.style-m8Y9s {
    height: 64px;
    width: 146px;
    left: 1379px;
}

#style-f7UH7.style-f7UH7 {
    width: 146px;
    height: 64px;
    top: 0px;
}

#style-pDc4x.style-pDc4x {
    height: 64px;
    left: 0px;
}

#style-lfiP7.style-lfiP7 {
    height: 64px;
    position: absolute;
    width: 146px;
    will-change: transform;
    z-index: 0;
    transform: translate(0px, 0px);
}

#style-tnmUz.style-tnmUz {
    height: 64px;
    width: 146px;
    left: 0px;
}

#style-bj4Cg.style-bj4Cg {
    height: 64px;
}

#style-bsK5L.style-bsK5L {
    height: 64px;
}

#style-Z7MEz.style-Z7MEz {
    display: contents;
}

#style-o1Jtl.style-o1Jtl {
    height: 64px;
}

#style-iYFqw.style-iYFqw {
    min-height: 52px;
}

#reporting_table_column_cost_per_result.style-Vaov8 {
    max-width: 110px;
}

#style-qzURe.style-qzURe {
    vertical-align: middle;
}

#style-BigdG.style-BigdG {
    width: 0px;
}

#style-BIMZF.style-BIMZF {
    background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/y0/r/wwrPLYIMWpv.png");
    background-position: 0px -3915px;
    background-size: auto;
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    display: inline-block;
}

#style-A1NX8.style-A1NX8 {
    height: 64px;
    width: 120px;
    left: 1525px;
}

#style-q4lq8.style-q4lq8 {
    width: 120px;
    height: 64px;
    top: 0px;
}

#style-EevoF.style-EevoF {
    height: 64px;
    left: 0px;
}

#style-8vt2Q.style-8vt2Q {
    height: 64px;
    position: absolute;
    width: 120px;
    will-change: transform;
    z-index: 0;
    transform: translate(0px, 0px);
}

#style-6HtfK.style-6HtfK {
    height: 64px;
    width: 120px;
    left: 0px;
}

#style-3mFW6.style-3mFW6 {
    height: 64px;
}

#style-Nip7J.style-Nip7J {
    height: 64px;
}

#style-rHbtq.style-rHbtq {
    display: contents;
}

#style-nSVeT.style-nSVeT {
    height: 64px;
}

#style-yZ7XR.style-yZ7XR {
    min-height: 52px;
}

#reporting_table_column_quality_score_organic.style-2284N {
    max-width: 84px;
}

#style-iJpXB.style-iJpXB {
    vertical-align: middle;
}

#style-3K4Rh.style-3K4Rh {
    width: 0px;
}

#style-H7to8.style-H7to8 {
    background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/y0/r/wwrPLYIMWpv.png");
    background-position: 0px -3915px;
    background-size: auto;
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    display: inline-block;
}

#style-notkH.style-notkH {
    height: 64px;
    width: 120px;
    left: 1645px;
}

#style-Foa9z.style-Foa9z {
    width: 120px;
    height: 64px;
    top: 0px;
}

#style-zzQNq.style-zzQNq {
    height: 64px;
    left: 0px;
}

#style-ssteJ.style-ssteJ {
    height: 64px;
    position: absolute;
    width: 120px;
    will-change: transform;
    z-index: 0;
    transform: translate(0px, 0px);
}

#style-jvNeA.style-jvNeA {
    height: 64px;
    width: 120px;
    left: 0px;
}

#style-6Jm6s.style-6Jm6s {
    height: 64px;
}

#style-oWf4W.style-oWf4W {
    height: 64px;
}

#style-wDPAf.style-wDPAf {
    display: contents;
}

#style-PqQkO.style-PqQkO {
    height: 64px;
}

#style-HDS3o.style-HDS3o {
    min-height: 52px;
}

#reporting_table_column_quality_score_ectr.style-DVNpX {
    max-width: 84px;
}

#style-d4ySU.style-d4ySU {
    vertical-align: middle;
}

#style-sUUtI.style-sUUtI {
    width: 0px;
}

#style-SDPqY.style-SDPqY {
    background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/y0/r/wwrPLYIMWpv.png");
    background-position: 0px -3915px;
    background-size: auto;
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    display: inline-block;
}

#style-hwwYP.style-hwwYP {
    height: 64px;
    width: 120px;
    left: 1765px;
}

#style-es6ni.style-es6ni {
    width: 120px;
    height: 64px;
    top: 0px;
}

#style-W2shE.style-W2shE {
    height: 64px;
    left: 0px;
}

#style-PvDgT.style-PvDgT {
    height: 64px;
    position: absolute;
    width: 120px;
    will-change: transform;
    z-index: 0;
    transform: translate(0px, 0px);
}

#style-l9x5T.style-l9x5T {
    height: 64px;
    width: 120px;
    left: 0px;
}

#style-yLOqY.style-yLOqY {
    height: 64px;
}

#style-jYytT.style-jYytT {
    height: 64px;
}

#style-Z2GyW.style-Z2GyW {
    display: contents;
}

#style-wlDMB.style-wlDMB {
    height: 64px;
}

#style-ZL3ky.style-ZL3ky {
    min-height: 52px;
}

#reporting_table_column_quality_score_ecvr.style-nodQc {
    max-width: 84px;
}

#style-DZp8W.style-DZp8W {
    vertical-align: middle;
}

#style-aBIRd.style-aBIRd {
    width: 0px;
}

#style-PKIIy.style-PKIIy {
    background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/y0/r/wwrPLYIMWpv.png");
    background-position: 0px -3915px;
    background-size: auto;
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    display: inline-block;
}

#style-VQ9Ps.style-VQ9Ps {
    height: 64px;
    width: 146px;
    left: 1885px;
}

#style-MEbx9.style-MEbx9 {
    width: 146px;
    height: 64px;
    top: 0px;
}

#style-MCbox.style-MCbox {
    height: 64px;
    left: 0px;
}

#style-fv7ks.style-fv7ks {
    height: 64px;
    position: absolute;
    width: 146px;
    will-change: transform;
    z-index: 0;
    transform: translate(0px, 0px);
}

#style-qiEA1.style-qiEA1 {
    height: 64px;
    width: 146px;
    left: 0px;
}

#style-64VrI.style-64VrI {
    height: 64px;
}

#style-QKJfp.style-QKJfp {
    height: 64px;
}

#style-ZAjGl.style-ZAjGl {
    display: contents;
}

#style-5etgx.style-5etgx {
    height: 64px;
}

#style-ThYca.style-ThYca {
    min-height: 52px;
}

#reporting_table_column_spend.style-dKs1o {
    max-width: 110px;
}

#style-EzWLR.style-EzWLR {
    vertical-align: middle;
}

#style-ZOKOI.style-ZOKOI {
    width: 0px;
}

#style-7ocSM.style-7ocSM {
    background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/y0/r/wwrPLYIMWpv.png");
    background-position: 0px -3915px;
    background-size: auto;
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    display: inline-block;
}

#style-FH6l2.style-FH6l2 {
    height: 64px;
    width: 113px;
    left: 2031px;
}

#style-3a8SL.style-3a8SL {
    width: 113px;
    height: 64px;
    top: 0px;
}

#style-joddi.style-joddi {
    height: 64px;
    left: 0px;
}

#style-g5eqZ.style-g5eqZ {
    height: 64px;
    position: absolute;
    width: 113px;
    will-change: transform;
    z-index: 0;
    transform: translate(0px, 0px);
}

#style-72pfP.style-72pfP {
    height: 64px;
    width: 113px;
    left: 0px;
}

#style-aI7wA.style-aI7wA {
    height: 64px;
}

#style-AwMQ4.style-AwMQ4 {
    height: 64px;
}

#style-v3sob.style-v3sob {
    display: contents;
}

#style-KpIgj.style-KpIgj {
    height: 64px;
}

#style-Hw56T.style-Hw56T {
    min-height: 52px;
}

#reporting_table_column_end_time.style-6oBoo {
    max-width: 77px;
}

#style-TQiMg.style-TQiMg {
    vertical-align: middle;
}

#style-1UZHz.style-1UZHz {
    width: 0px;
}

#style-lsmlj.style-lsmlj {
    background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/y0/r/wwrPLYIMWpv.png");
    background-position: 0px -3915px;
    background-size: auto;
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    display: inline-block;
}

#style-Y5ldF.style-Y5ldF {
    height: 64px;
    width: 32px;
    left: 2144px;
}

#style-CFX2d.style-CFX2d {
    width: 32px;
    height: 64px;
    top: 0px;
}

#style-C6ZNE.style-C6ZNE {
    height: 64px;
    left: 0px;
}

#style-3xrMI.style-3xrMI {
    height: 64px;
    position: absolute;
    width: 32px;
    will-change: transform;
    z-index: 0;
    transform: translate(0px, 0px);
}

#style-sM3gK.style-sM3gK {
    height: 64px;
    width: 32px;
    left: 0px;
}

#style-YSqC7.style-YSqC7 {
    background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/y0/r/wwrPLYIMWpv.png");
    background-position: 0px -3824px;
    background-size: auto;
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    display: inline-block;
}

#style-n2DO7.style-n2DO7 {
    left: 495px;
    height: 64px;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');

body {
    font-family: inherit;
    background: #e9eaeb;
    background-image: radial-gradient(50% 50% at 50% 50%, rgba(160, 51, 255, .024) 0%, rgba(160, 51, 255, 0) 50%), radial-gradient(50% 50% at 50% 50%, rgba(160, 51, 255, .04) 0%, rgba(160, 51, 255, 0) 75%), radial-gradient(50% 50% at 50% 50%, rgba(160, 51, 255, .064) 0%, rgba(160, 51, 255, 0) 100%), radial-gradient(50% 50% at 50% 50%, rgba(24, 119, 242, .024) 0%, rgba(24, 119, 242, 0) 50%), radial-gradient(50% 50% at 50% 50%, rgba(24, 119, 242, .04) 0%, rgba(24, 119, 242, 0) 75%), radial-gradient(50% 50% at 50% 50%, rgba(24, 119, 242, .064) 0%, rgba(24, 119, 242, 0) 100%), radial-gradient(50% 50% at 50% 50%, rgba(255, 108, 92, .024) 0%, rgba(255, 108, 92, 0) 50%), radial-gradient(50% 50% at 50% 50%, rgba(255, 108, 92, .04) 0%, rgba(255, 108, 92, 0) 75%), radial-gradient(50% 50% at 50% 50%, rgba(255, 108, 92, .064) 0%, rgba(255, 108, 92, 0) 100%), radial-gradient(50% 50% at 50% 50%, rgba(245, 206, 51, .024) 0%, rgba(245, 206, 51, 0) 50%), radial-gradient(50% 50% at 50% 50%, rgba(245, 206, 51, .04) 0%, rgba(245, 206, 51, 0) 75%), radial-gradient(50% 50% at 50% 50%, rgba(245, 206, 51, .064) 0%, rgba(245, 206, 51, 0) 100%), radial-gradient(50% 50% at 50% 50%, rgba(37, 211, 102, .024) 0%, rgba(37, 211, 102, 0) 50%), radial-gradient(50% 50% at 50% 50%, rgba(37, 211, 102, .04) 0%, rgba(37, 211, 102, 0) 75%), radial-gradient(50% 50% at 50% 50%, rgba(37, 211, 102, .064) 0%, rgba(37, 211, 102, 0) 100%), radial-gradient(50% 50% at 50% 50%, rgba(24, 119, 242, .024) 0%, rgba(24, 119, 242, 0) 50%), radial-gradient(50% 50% at 50% 50%, rgba(24, 119, 242, .04) 0%, rgba(24, 119, 242, 0) 75%), radial-gradient(50% 50% at 50% 50%, rgba(24, 119, 242, .064) 0%, rgba(24, 119, 242, 0) 100%);
    color: #1c1e21;
    direction: ltr;
    line-height: 1.28;
    font-size: 12px;
}

._61ve div {
    font-family: inherit;
}

._6nw._61ve div {
    font-family: inherit;
}

._61ve span {
    font-family: inherit;
}

._6nw._61ve span {
    font-family: inherit;
}

.x10wlt62 {
    overflow-y: hidden;
}

.x5yr21d {
    height: 100%;
}

body {
    background: #fff;
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    margin: 0;
    padding: 0;
    unicode-bidi: embed;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}

body {
    overflow-y: scroll;
}

html {
    touch-action: manipulation;
}

:root {
    --accent: hsl(214, 89%, 52%);
    --always-white: #FFFFFF;
    --badge-background-color-blue: var(--accent);
    --badge-background-color-dark-gray: var(--secondary-icon);
    --badge-background-color-gray: var(--disabled-icon);
    --badge-background-color-green: var(--positive);
    --badge-background-color-light-blue: var(--highlight-bg);
    --badge-background-color-red: var(--notification-badge);
    --badge-background-color-yellow: var(--base-lemon);
    --base-lemon: #F7B928;
    --disabled-button-background: #E4E6EB;
    --disabled-icon: #BCC0C4;
    --focus-ring-blue: #1877F2;
    --highlight-bg: #E7F3FF;
    --inverse-text: var(--always-white);
    --messenger-card-background: #FFFFFF;
    --mwp-header-background-color: var(--messenger-card-background);
    --mwp-header-button-color: var(--accent);
    --mwp-message-row-background: var(--messenger-card-background);
    --notification-badge: #e41e3f;
    --placeholder-text: #65676B;
    --positive: #31A24C;
    --primary-icon: #050505;
    --secondary-button-background: #E4E6EB;
    --secondary-icon: #65676B;
    --shadow-1: rgba(0, 0, 0, 0.1);
    --shadow-2: rgba(0, 0, 0, 0.2);
    --shadow-5: rgba(0, 0, 0, 0.5);
    --shadow-base: 0 1px 2px var(--shadow-2);
    --shadow-emphasis: 0 2px 12px var(--shadow-2);
    --input-border-color-hover: var(--placeholder-text);
    --tooltip-box-shadow: 0 2px 4px 0 var(--shadow-5);
    --chat-outgoing-message-bubble-background-color: var(--accent);
    --radio-border-color: var(--primary-icon);
    --radio-border-color-disabled: var(--disabled-button-background);
    --radio-border-color-selected: var(--accent);
    --radio-checked-icon-color: var(--accent);
    --radio-checked-icon-color-disabled: var(--disabled-button-background);
    --button-height-medium: 36px;
    --card-box-shadow: 0 12px 28px 0 var(--shadow-2), 0 2px 4px 0 var(--shadow-1);
    --focus-ring-outline-link: 2px auto var(--focus-ring-blue);
    --focus-ring-shadow-default: 0 0 0 2px var(--always-white), 0 0 0 4px var(--focus-ring-blue);
    --focus-ring-shadow-inset: 0 0 0 2px var(--focus-ring-blue) inset, 0 0 0 4px var(--always-white) inset;
}

:root {
    --accent: rgb(8, 102, 255);
    --always-white: rgb(255, 255, 255);
    --disabled-button-background: rgb(228, 230, 235);
    --disabled-icon: rgb(188, 192, 196);
    --notification-badge: rgb(228, 30, 63);
    --placeholder-text: rgb(101, 103, 107);
    --positive: rgb(49, 162, 76);
    --primary-icon: rgb(5, 5, 5);
    --secondary-button-background: rgb(228, 230, 235);
    --secondary-icon: rgb(101, 103, 107);
}

:root {
    --x1dflwya: var(--secondary-button-background);
    --xgcszl1: var(--button-height-medium);
}

._1gda {
    position: absolute;
    top: 0;
}

._4li {
    background-color: #fff;
}

._1gd4 {
    box-sizing: border-box;
    overflow: hidden;
    position: absolute;
    top: 0;
}

div._5a1o {
    border-top: none;
}

._1gd5 {
    left: 0;
    position: absolute;
    top: 0;
}

._3pzk {
    position: absolute;
    top: 0;
}

._1gd8 {
    border-color: #d3d3d3;
}

._1gd6 {
    -webkit-backface-visibility: hidden;
    border-left-style: solid;
    border-left-width: 1px;
    left: 0;
    position: absolute;
    top: 0;
    width: 0;
}

._1gd8 {
    border-color: #dadcde;
}

._3pzj {
    -webkit-backface-visibility: hidden;
    background-color: #fff;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    white-space: nowrap;
}

._4h2m {
    background-color: #fff;
    border-color: #d3d3d3;
}

._4lg0 {
    border-right-style: solid;
    border-right-width: 1px;
    border-width: 0 1px 0 0;
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    position: absolute;
    white-space: normal;
}

._4lg6 {
    text-align: center;
}

._4h2m {
    border: none;
}

._3pzj>._4h2m {
    display: inline-block;
    vertical-align: top;
    white-space: normal;
}

._g1w ._4li:hover ._4h2m {
    background-color: rgba(0, 0, 0, .05);
}

._g1w ._4li:hover ._4h2m {
    background-color: rgba(0, 0, 0, .1);
}

._g1w ._4li:hover ._4h2m,
._g1w ._4li:hover._4lo ._4h2m {
    background-color: rgba(0, 0, 0, .05);
}

._4lg5 {
    text-align: right;
}

._1b33 {
    border-color: #dadcde;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    flex-grow: 1;
    height: 100%;
    max-width: 100%;
    overflow: hidden;
}

._1b33._1b33 {
    padding: 4px 8px;
}

._3c7k ._1b33 {
    border-width: 0 1px 0 0;
}

._vz_._vz_._vz_ {
    margin-left: 8px;
    padding-left: 54px;
    position: relative;
}

._4li ._4h2m:last-child ._1b33 {
    border-right-width: 0;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.x1rg5ohu {
    display: inline-block;
}

.x6s0dn4 {
    align-items: center;
}

.x78zum5 {
    display: flex;
}

.xl56j7k {
    justify-content: center;
}

.x2lwn1j {
    min-height: 0;
}

.xeuugli {
    min-width: 0;
}

._vzz {
    box-sizing: border-box;
    left: 0;
    top: 0;
}

._5f0d {
    display: inline-block;
    overflow: hidden;
    position: relative;
    vertical-align: text-bottom;
}

._vzz {
    border-bottom: 1px solid transparent;
}

._vzz._vzz {
    position: absolute;
}

._2czl {
    box-sizing: border-box;
    display: flex;
    margin: 0;
}

a {
    color: #385898;
    cursor: pointer;
    text-decoration: none;
}

.x1fcty0u {
    font-weight: normal;
}

.x1h4wwuj {
    word-wrap: normal;
}

.x1lliihq {
    display: block;
}

.x1yc453h {
    text-align: left;
}

.xlyipyv {
    text-overflow: ellipsis;
}

.xmi5d70 {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol !important;
}

.xuxw1ft {
    white-space: nowrap;
}

.x6ikm8r {
    overflow-x: hidden;
}

.x1hl2dhg {
    text-decoration: none;
}

.x1fvot60 {
    font-size: .875rem !important;
}

.x1qsmy5i {
    color: rgba(10, 120, 190, 1);
}

.xxio538 {
    line-height: 1.42858 !important;
}

._61ve a {
    font-family: inherit;
}

._6nw._61ve a {
    font-family: inherit;
}

a:hover {
    text-decoration: underline;
}

.xt0b8zv:hover {
    text-decoration: underline;
}

._e9n {
    overflow: hidden;
}

img {
    border: 0;
}

._5i4g {
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 0;
}

._62h_ {
    flex-grow: 1;
    overflow: hidden;
}

.x67bb7w {
    pointer-events: auto;
}

._62i0 {
    display: flex;
}

.xo1l8bm {
    font-weight: 400;
}

.x1541jtf {
    color: rgba(28, 43, 51, .65);
}

.x63nzvj {
    line-height: 1.33334 !important;
}

.xq9mrsl {
    white-space: inherit;
}

.xw23nyj {
    font-size: .75rem !important;
}

.xbsr9hj {
    color: rgba(28, 43, 51, 1);
}

._1ha4 {
    color: rgba(0, 0, 0, .5);
    font-size: 12px;
    font-weight: normal;
    line-height: 20px;
    position: relative;
}

.x1n2onr6 {
    position: relative;
}

.x3oybdh {
    transform: scale(1);
}

.x1c4vz4f {
    flex-grow: 0;
}

.x1q0g3np {
    flex-direction: row;
}

.xozqiw3 {
    flex-wrap: nowrap;
}

._13is {
    margin-right: 4px;
    max-width: 100%;
    padding: 0;
    font-size: 14px;
    font-weight: 400;
}

.xt0psk2 {
    display: inline;
}

.x14atkfc {
    width: auto;
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    clear: both;
    content: '.';
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

.x10y3i5r {
    border-bottom-left-radius: 4px;
}

.x13fuv20 {
    border-top-style: solid;
}

.x178xt8z {
    border-top-width: 1px;
}

.x1lcm9me {
    border-top-left-radius: 4px;
}

.x1yr5g0i {
    border-top-right-radius: 4px;
}

.x26u7qi {
    border-left-style: solid;
}

.x4uap5 {
    padding-right: 0;
}

.x9f619 {
    box-sizing: border-box;
}

.xkhd6sd {
    padding-left: 0;
}

.xm81vs4 {
    border-right-width: 1px;
}

.xrt01vj {
    border-bottom-right-radius: 4px;
}

.xu3j5b3 {
    border-right-style: solid;
}

.xy80clv {
    border-left-width: 1px;
}

.x18d9i69 {
    padding-bottom: 0;
}

.x1q0q8m5 {
    border-bottom-style: solid;
}

.xexx8yu {
    padding-top: 0;
}

.xso031l {
    border-bottom-width: 1px;
}

.xvy4d1p {
    width: 24px;
}

.xxk0z11 {
    height: 24px;
}

.x10lij0i {
    border-left-color: rgba(203, 210, 217, 1);
}

.x1gzqxud {
    background-color: rgba(255, 255, 255, 1);
}

.xvyu6v8 {
    border-right-color: rgba(203, 210, 217, 1);
}

.xwebqov {
    border-top-color: rgba(203, 210, 217, 1);
}

.xrsgblv {
    border-bottom-color: rgba(203, 210, 217, 1);
}

.x10l6tqk {
    position: absolute;
}

.x13dflua {
    transition-duration: .2s;
}

.x17qophe {
    left: 0;
}

.x47corl {
    pointer-events: none;
}

.x6o7n8i {
    transition-property: opacity, transform;
}

.xds687c {
    right: 0;
}

.xg01cxk {
    opacity: 0;
}

.x13vifvy {
    top: 0;
}

.x1ey2m1c {
    bottom: 0;
}

.xxziih7 {
    transition-timing-function: cubic-bezier(.08, .52, .52, 1);
}

.x1j6awrg:after {
    position: absolute;
}

.x1s928wv:after {
    content: "";
}

.x14q35kh:after {
    border-top-right-radius: inherit;
}

.x1bs8fl3:after {
    border-left-width: 3px;
}

.x1n7iyjn:after {
    border-bottom-left-radius: inherit;
}

.x1ryaxvv:after {
    right: -1px;
}

.x1t0di37:after {
    border-top-style: inherit;
}

.x1tt7eqi:after {
    border-right-style: inherit;
}

.x1w3onc2:after {
    opacity: .2;
}

.x1wa3ocq:after {
    border-bottom-right-radius: inherit;
}

.x8lbu6m:after {
    border-right-width: 3px;
}

.x9obomg:after {
    left: -1px;
}

.xhhp2wi:after {
    border-top-left-radius: inherit;
}

.xmb4j5p:after {
    border-right-color: inherit;
}

.xmn8db3:after {
    border-top-width: 3px;
}

.xnl74ce:after {
    border-top-color: inherit;
}

.xsp6npd:after {
    border-left-style: inherit;
}

.xwmxa91:after {
    border-left-color: inherit;
}

.x1hvfe8t:after {
    top: -1px;
}

.x1te75w5:after {
    bottom: -1px;
}

.x2te4dl:after {
    border-bottom-width: 3px;
}

.xdx8kah:after {
    border-bottom-color: inherit;
}

.xe25xm5:after {
    border-bottom-style: inherit;
}

input {
    background-color: #fff;
    color: #1c1e21;
}

input {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}

.x11i5rnm {
    margin-right: 0;
}

.x1mh8g0r {
    margin-left: 0;
}

.x1vjfegm {
    z-index: 1;
}

.x1ypdohk {
    cursor: pointer;
}

.xat24cr {
    margin-bottom: 0;
}

.xdj266r {
    margin-top: 0;
}

.xh8yej3 {
    width: 100%;
}

.x1t137rt {
    outline-style: none;
}

.x1w3u9th {
    opacity: .001;
}

.xjyslct {
    -webkit-appearance: none;
}

input {
    font-family: inherit;
}

input {
    font-family: Helvetica, Arial, sans-serif;
}

._3dfi {
    unicode-bidi: embed;
}

._3dfj {
    direction: ltr;
}

._4bl7 {
    word-wrap: break-word;
}

._ikh ._4bl7 {
    float: left;
    min-height: 1px;
}

._4bl9 {
    word-wrap: break-word;
}

._4bl9 {
    overflow: hidden;
}

.x1f85oc2 {
    transform: scale(0);
}

.xnnyp6c {
    transition-timing-function: cubic-bezier(.12, .8, .32, 1);
}

.x12go9s9 {
    border-top-right-radius: 999px;
}

.x15406qy {
    transition-property: background-color;
}

.x1rnf11y {
    border-bottom-right-radius: 999px;
}

.xprq8jg {
    border-bottom-left-radius: 999px;
}

.xzolkzo {
    border-top-left-radius: 999px;
}

.x14qfxbe {
    width: 36px;
}

.x1k4ywey {
    background-color: rgba(225, 237, 247, 1);
}

.x1y5rjcf {
    line-height: 1.67;
}

.x1kky2od {
    width: 16px;
}

.x3nfvp2 {
    display: inline-flex;
}

.x1s85apg {
    display: none;
}

.x1qx5ct2 {
    height: 20px;
}

.xw4jnvo {
    width: 20px;
}

.x1h45990 {
    background-color: currentcolor;
}

.x1psfjxj {
    transform: translateX(16px);
}

.x8xg6ae {
    color: rgba(10, 120, 190, .6);
}

i.img {
    -ms-high-contrast-adjust: none;
}

.x120ccyz:not([stylex-hack]) svg {
    fill: currentColor;
}


/* These were inline style tags. Uses id+class to override almost everything */
#style-p1QTJ.style-p1QTJ {
    width: 1420px;
    height: 46px;
    z-index: 0;
    transform: translate(0px, 0px);
}

#style-bkyZJ.style-bkyZJ {
    width: 1420px;
    height: 46px;
}

#style-V6Qjv.style-V6Qjv {
    height: 46px;
    left: 0px;
}

#style-vh916.style-vh916 {
    height: 46px;
    position: absolute;
    width: 495px;
    will-change: transform;
    z-index: 2;
    transform: translate(0px, 0px);
}

#style-98aeg.style-98aeg {
    height: 46px;
    width: 49px;
    left: 0px;
}

#style-qszMb.style-qszMb {
    height: 46px;
    width: 86px;
    left: 49px;
}

#style-5XaIk.style-5XaIk {
    height: 46px;
    width: 360px;
    left: 135px;
}

#style-3X2la.style-3X2la {
    width: 46px;
    height: 46px;
}

#style-cbzgm.style-cbzgm {
    width: 46px;
    height: 46px;
    left: 0px;
    top: 0px;
}

#style-HXpJY.style-HXpJY {
    height: 46px;
    left: 495px;
}

#style-tFZ1P.style-tFZ1P {
    height: 46px;
    position: absolute;
    width: 2176px;
    will-change: transform;
    z-index: 0;
    transform: translate(0px, 0px);
}

#style-z5vlO.style-z5vlO {
    height: 46px;
    width: 200px;
    left: 0px;
}

#style-D3tSt.style-D3tSt {
    background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/y0/r/wwrPLYIMWpv.png");
    background-position: -13px -3317px;
    background-size: auto;
    width: 10px;
    height: 10px;
    background-repeat: no-repeat;
    display: inline-block;
}

#style-3xRiZ.style-3xRiZ {
    height: 46px;
    width: 214px;
    left: 200px;
}

#style-8qwqR.style-8qwqR {
    height: 46px;
    width: 134px;
    left: 414px;
}

#style-d4hbB.style-d4hbB {
    height: 46px;
    width: 134px;
    left: 548px;
}

#style-poMhk.style-poMhk {
    height: 46px;
    width: 139px;
    left: 682px;
}

#style-Ar8Od.style-Ar8Od {
    height: 46px;
    width: 120px;
    left: 821px;
}

#style-Xw16Q.style-Xw16Q {
    left: 495px;
    height: 46px;
}