@font-face { 
  font-display:block;
  font-family:'Optimistic Display';
  font-style:normal;
  font-weight:700;
  src:url(https://static.xx.fbcdn.net/rsrc.php/yU/r/WXBYOaYZuYu.woff2) format('woff2'), url(https://static.xx.fbcdn.net/rsrc.php/yY/r/uFQSckMfvjy.woff) format('woff'), url(https://static.xx.fbcdn.net/rsrc.php/ye/r/EvBN2KAyST_.eot) format('embedded-opentype');
} 
@font-face { 
  font-display:block;
  font-family:'Optimistic Display';
  font-style:normal;
  font-weight:500;
  src:url(https://static.xx.fbcdn.net/rsrc.php/yL/r/jfwoHaS3i0K.woff2) format('woff2'), url(https://static.xx.fbcdn.net/rsrc.php/yx/r/fTvKFwGz9bf.woff) format('woff'), url(https://static.xx.fbcdn.net/rsrc.php/yV/r/J1XKtFquvMN.eot) format('embedded-opentype');
} 
@font-face { 
  font-display:block;
  font-family:'Optimistic Display';
  font-style:normal;
  font-weight:300;
  src:url(https://static.xx.fbcdn.net/rsrc.php/yJ/r/gJ8wmjmQhMa.woff2) format('woff2'), url(https://static.xx.fbcdn.net/rsrc.php/yG/r/6EsmO4OOkIi.woff) format('woff'), url(https://static.xx.fbcdn.net/rsrc.php/y4/r/d8NpUU2wnvQ.eot) format('embedded-opentype');
} 
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap'); 
  body {  
    font-family:inherit;
    background:#f5f7f8;
    background-image:radial-gradient(50% 50% at 50% 50%,rgba(160,51,255,.024) 0%,rgba(160,51,255,0) 50%),radial-gradient(50% 50% at 50% 50%,rgba(160,51,255,.04) 0%,rgba(160,51,255,0) 75%),radial-gradient(50% 50% at 50% 50%,rgba(160,51,255,.064) 0%,rgba(160,51,255,0) 100%),radial-gradient(50% 50% at 50% 50%,rgba(24,119,242,.024) 0%,rgba(24,119,242,0) 50%),radial-gradient(50% 50% at 50% 50%,rgba(24,119,242,.04) 0%,rgba(24,119,242,0) 75%),radial-gradient(50% 50% at 50% 50%,rgba(24,119,242,.064) 0%,rgba(24,119,242,0) 100%),radial-gradient(50% 50% at 50% 50%,rgba(255,108,92,.024) 0%,rgba(255,108,92,0) 50%),radial-gradient(50% 50% at 50% 50%,rgba(255,108,92,.04) 0%,rgba(255,108,92,0) 75%),radial-gradient(50% 50% at 50% 50%,rgba(255,108,92,.064) 0%,rgba(255,108,92,0) 100%),radial-gradient(50% 50% at 50% 50%,rgba(245,206,51,.024) 0%,rgba(245,206,51,0) 50%),radial-gradient(50% 50% at 50% 50%,rgba(245,206,51,.04) 0%,rgba(245,206,51,0) 75%),radial-gradient(50% 50% at 50% 50%,rgba(245,206,51,.064) 0%,rgba(245,206,51,0) 100%),radial-gradient(50% 50% at 50% 50%,rgba(37,211,102,.024) 0%,rgba(37,211,102,0) 50%),radial-gradient(50% 50% at 50% 50%,rgba(37,211,102,.04) 0%,rgba(37,211,102,0) 75%),radial-gradient(50% 50% at 50% 50%,rgba(37,211,102,.064) 0%,rgba(37,211,102,0) 100%),radial-gradient(50% 50% at 50% 50%,rgba(24,119,242,.024) 0%,rgba(24,119,242,0) 50%),radial-gradient(50% 50% at 50% 50%,rgba(24,119,242,.04) 0%,rgba(24,119,242,0) 75%),radial-gradient(50% 50% at 50% 50%,rgba(24,119,242,.064) 0%,rgba(24,119,242,0) 100%);
    color:#1c1e21;
    direction:ltr;
    line-height:1.28;
    font-size:12px;
  }  
._61ve span { 
    font-family: inherit;
} 

._6nw._61ve span { 
    font-family: inherit;
} 

._61ve div { 
    font-family: inherit;
} 

._6nw._61ve div { 
    font-family: inherit;
} 

.x1q85c4o { 
    background-color: #fff;
} 

.x10wlt62 { 
    overflow-y: hidden;
} 

.x5yr21d { 
    height: 100%;
} 

.xh8yej3 { 
    width: 100%;
} 

.x193iq5w { 
    max-width: 100%;
} 

.xldge1k { 
    background-position: 37.97vw calc(((300vw - 100vh) / 2 - 85.77vw) * -1),37.97vw calc(((300vw - 100vh) / 2 - 85.77vw) * -1),37.97vw calc(((300vw - 100vh) / 2 - 85.77vw) * -1),-100vw calc(((300vw - 100vh) / 2 - 154.56vw) * -1),-100vw calc(((300vw - 100vh) / 2 - 154.56vw) * -1),-100vw calc(((300vw - 100vh) / 2 - 154.56vw) * -1),13.34vw calc(((300vw - 100vh) / 2 - 53.88vw) * -1),13.34vw calc(((300vw - 100vh) / 2 - 53.88vw) * -1),13.34vw calc(((300vw - 100vh) / 2 - 53.88vw) * -1),10.64vw calc(((300vw - 100vh) / 2 - 17.19vw) * -1),10.64vw calc(((300vw - 100vh) / 2 - 17.19vw) * -1),10.64vw calc(((300vw - 100vh) / 2 - 17.19vw) * -1),-49vw calc(((300vw - 100vh) / 2 - 41.1vw) * -1),-49vw calc(((300vw - 100vh) / 2 - 41.1vw) * -1),-49vw calc(((300vw - 100vh) / 2 - 41.1vw) * -1),-100vw calc(((300vw - 100vh) / 2 - 78vw) * -1),-100vw calc(((300vw - 100vh) / 2 - 78vw) * -1),-100vw calc(((300vw - 100vh) / 2 - 78vw) * -1);
} 

.x1nr1p0w { 
    background-attachment: fixed;
} 

.x2li9jd { 
    background-image: radial-gradient(50% 50% at 50% 50%,rgba(160,51,255,.024) 0%,rgba(160,51,255,0) 50%),radial-gradient(50% 50% at 50% 50%,rgba(160,51,255,.04) 0%,rgba(160,51,255,0) 75%),radial-gradient(50% 50% at 50% 50%,rgba(160,51,255,.064) 0%,rgba(160,51,255,0) 100%),radial-gradient(50% 50% at 50% 50%,rgba(24,119,242,.024) 0%,rgba(24,119,242,0) 50%),radial-gradient(50% 50% at 50% 50%,rgba(24,119,242,.04) 0%,rgba(24,119,242,0) 75%),radial-gradient(50% 50% at 50% 50%,rgba(24,119,242,.064) 0%,rgba(24,119,242,0) 100%),radial-gradient(50% 50% at 50% 50%,rgba(255,108,92,.024) 0%,rgba(255,108,92,0) 50%),radial-gradient(50% 50% at 50% 50%,rgba(255,108,92,.04) 0%,rgba(255,108,92,0) 75%),radial-gradient(50% 50% at 50% 50%,rgba(255,108,92,.064) 0%,rgba(255,108,92,0) 100%),radial-gradient(50% 50% at 50% 50%,rgba(245,206,51,.024) 0%,rgba(245,206,51,0) 50%),radial-gradient(50% 50% at 50% 50%,rgba(245,206,51,.04) 0%,rgba(245,206,51,0) 75%),radial-gradient(50% 50% at 50% 50%,rgba(245,206,51,.064) 0%,rgba(245,206,51,0) 100%),radial-gradient(50% 50% at 50% 50%,rgba(37,211,102,.024) 0%,rgba(37,211,102,0) 50%),radial-gradient(50% 50% at 50% 50%,rgba(37,211,102,.04) 0%,rgba(37,211,102,0) 75%),radial-gradient(50% 50% at 50% 50%,rgba(37,211,102,.064) 0%,rgba(37,211,102,0) 100%),radial-gradient(50% 50% at 50% 50%,rgba(24,119,242,.024) 0%,rgba(24,119,242,0) 50%),radial-gradient(50% 50% at 50% 50%,rgba(24,119,242,.04) 0%,rgba(24,119,242,0) 75%),radial-gradient(50% 50% at 50% 50%,rgba(24,119,242,.064) 0%,rgba(24,119,242,0) 100%);
} 

.x6n32m9 { 
    background-size: 156.45vw 99.03vw,156.45vw 99.03vw,156.45vw 99.03vw,226.86vw 145.44vw,226.86vw 145.44vw,226.86vw 145.44vw,171.96vw 110.31vw,171.96vw 110.31vw,171.96vw 110.31vw,130.29vw 83.58vw,130.29vw 83.58vw,130.29vw 83.58vw,198vw 126.9vw,198vw 126.9vw,198vw 126.9vw,300vw 192vw,300vw 192vw,300vw 192vw;
} 

.xiy17q3 { 
    background-repeat: no-repeat;
} 

body { 
    background: #fff; 
    color: #1c1e21; 
    direction: ltr; 
    line-height: 1.34; 
    margin: 0px; 
    padding: 0px; 
    unicode-bidi: embed;
} 

body { 
    font-family: Helvetica, Arial, sans-serif; 
    font-size: 12px;
} 

body { 
    overflow-y: scroll;
} 

html { 
    touch-action: manipulation;
} 

:root { 
    --hzFeaturedCardSpacing: 16px; 
    --xkg63a2: calc(100vw - var(--hzFeaturedCardSpacing) * 2); 
} 

:root { 
    --x1dflwya: var(--secondary-button-background); 
    --xgcszl1: var(--button-height-medium); 
} 

@media (min-width: 1280px){ 
  :root { 
    --hzFeaturedCardSpacing: 32px; 
  } 
}     

:root { 
    --fds-strong: cubic-bezier(.12,.8,.32,1); 
    --fds-white: #FFFFFF; 
    --accent: hsl(214, 89%, 52%); 
    --always-white: #FFFFFF; 
    --always-dark-overlay: rgba(0, 0, 0, 0.4); 
    --badge-background-color-blue: var(--accent); 
    --badge-background-color-dark-gray: var(--secondary-icon); 
    --badge-background-color-gray: var(--disabled-icon); 
    --badge-background-color-green: var(--positive); 
    --badge-background-color-light-blue: var(--highlight-bg); 
    --badge-background-color-red: var(--notification-badge); 
    --badge-background-color-yellow: var(--base-lemon); 
    --base-lemon: #F7B928; 
    --card-background: #FFFFFF; 
    --disabled-button-background: #E4E6EB; 
    --disabled-icon: #BCC0C4; 
    --disabled-text: #BCC0C4; 
    --divider: #CED0D4; 
    --focus-ring-blue: #1877F2; 
    --highlight-bg: #E7F3FF; 
    --inverse-text: var(--always-white); 
    --messenger-card-background: #FFFFFF; 
    --mwp-header-background-color: var(--messenger-card-background); 
    --mwp-header-button-color: var(--accent); 
    --mwp-message-row-background: var(--messenger-card-background); 
    --popover-card-background: var(--card-background); 
    --negative: hsl(350, 87%, 55%); 
    --notification-badge: #e41e3f; 
    --placeholder-text: #65676B; 
    --positive: #31A24C; 
    --primary-icon: #050505; 
    --secondary-button-background: #E4E6EB; 
    --secondary-icon: #65676B; 
    --secondary-text: #65676B; 
    --shadow-1: rgba(0, 0, 0, 0.1); 
    --shadow-2: rgba(0, 0, 0, 0.2); 
    --shadow-5: rgba(0, 0, 0, 0.5); 
    --shadow-base: 0 1px 2px var(--shadow-2); 
    --shadow-emphasis: 0 2px 12px var(--shadow-2); 
    --input-background: #FFFFFF; 
    --input-background-hover: var(--input-background); 
    --input-background-warn-hover: hsla(var(--warning-h), var(--warning-s), var(--warning-l), 0.05); 
    --input-background-error-hover: hsla(var(--negative-h), var(--negative-s), var(--negative-l), 0.05); 
    --input-background-active: hsla(var(--accent-h), var(--accent-s), var(--accent-l), 0.05); 
    --input-background-warn-active: hsla(var(--warning-h), var(--warning-s), var(--warning-l), 0.05); 
    --input-background-error-active: hsla(var(--negative-h), var(--negative-s), var(--negative-l), 0.05); 
    --input-border-color-hover: var(--placeholder-text); 
    --input-label-color-inside: var(--secondary-text); 
    --input-label-color-error: var(--negative); 
    --input-label-color-disabled: var(--disabled-text); 
    --tooltip-box-shadow: 0 2px 4px 0 var(--shadow-5); 
    --chat-outgoing-message-bubble-background-color: var(--accent); 
    --radio-border-color: var(--primary-icon); 
    --radio-border-color-disabled: var(--disabled-button-background); 
    --radio-border-color-selected: var(--accent); 
    --radio-checked-icon-color: var(--accent); 
    --radio-checked-icon-color-disabled: var(--disabled-button-background); 
    --button-height-medium: 36px; 
    --card-box-shadow: 0 12px 28px 0 var(--shadow-2), 0 2px 4px 0 var(--shadow-1); 
    --menu-item-base-padding-horizontal: 8px; 
    --menu-item-base-with-icon-padding-horizontal: var(--menu-item-base-padding-horizontal); 
    --focus-ring-outline-link: 2px auto var(--focus-ring-blue); 
    --focus-ring-shadow-default: 0 0 0 2px var(--always-white), 0 0 0 4px var(--focus-ring-blue); 
    --focus-ring-shadow-inset: 0 0 0 2px var(--focus-ring-blue) inset, 0 0 0 4px var(--always-white) inset; 
} 

:root { 
    --fds-strong: cubic-bezier(.12,.8,.32,1); 
    --fds-white: #FFFFFF; 
    --accent: rgb(8,102,255); 
    --always-white: rgb(255,255,255); 
    --card-background: rgb(255,255,255); 
    --disabled-button-background: rgb(226,229,233); 
    --disabled-icon: rgb(176,179,184); 
    --disabled-text: rgb(176,179,184); 
    --divider: rgb(208,211,215); 
    --negative: rgb(251,60,68); 
    --notification-badge: rgb(221,35,52); 
    --placeholder-text: rgb(101,104,108); 
    --positive: rgb(49,167,59); 
    --primary-icon: rgb(8,8,9); 
    --secondary-button-background: rgb(226,229,233); 
    --secondary-icon: rgb(101,104,108); 
    --secondary-text: rgb(101,104,108); 
} 

._3ptk { 
    height: 100%;
} 

._8z1k { 
    display: flex; 
    flex-direction: column;
} 

._22s_ { 
    background: #f3f4f4; 
    bottom: 0; 
    box-sizing: border-box; 
    height: calc(100% - 44px); 
    overflow: auto; 
    right: 0; 
    width: 100%; 
    z-index: 200;
} 

._7ayd { 
    height: calc(100% - 44px - 48px);
} 

._7ayd._8z1m { 
    flex: 1 1 auto; 
    height: 100%;
} 

.x1ye3gou { 
    padding-left: 12px;
} 

.x9f619 { 
    box-sizing: border-box;
} 

.x178xt8z { 
    border-top-width: 1px;
} 

.xso031l { 
    border-bottom-width: 1px;
} 

.x4uap5 { 
    padding-right: 0;
} 

.x1iorvi4 { 
    padding-top: 4px;
} 

.xjkvuk6 { 
    padding-bottom: 4px;
} 

.x2izyaf { 
    background-color: var(--fds-white);
} 

.xn3w4p2 { 
    height: 44px;
} 

.xc2dlm9 { 
    border-left-color: #e9eaeb;
} 

.xcfux6l { 
    border-right-width: 0;
} 

.xgif2c7 { 
    line-height: 28px;
} 

.xm0m39n { 
    border-left-width: 0;
} 

.xolcy6v { 
    border-right-color: #e9eaeb;
} 

.x15bcfbt { 
    border-top-color: #e9eaeb;
} 

.x3ckiwt { 
    border-bottom-color: #e9eaeb;
} 

._6jw8 { 
    display: flex; 
    flex-direction: column; 
    height: 100%;
} 

.x1ypdohk { 
    cursor: pointer;
} 

.x6s0dn4 { 
    align-items: center;
} 

.x78zum5 { 
    display: flex;
} 

.xq8finb { 
    margin-right: 12px;
} 

.x1iyjqo2 { 
    flex-grow: 1;
} 

.x1r8uery { 
    flex-basis: 0px;
} 

.x6ikm8r { 
    overflow-x: hidden;
} 

.xs83m0k { 
    flex-shrink: 1;
} 

.x1qughib { 
    justify-content: space-between;
} 

._6jw8 > *  { 
    flex-shrink: 0;
} 

._13uo { 
    background: #fff; 
    box-sizing: border-box; 
    display: flex; 
    flex-direction: row; 
    height: 56px; 
    justify-content: space-between; 
    overflow: hidden; 
    padding: 8px 8px; 
    position: relative;
} 

.x1sxyh0 { 
    padding-right: 8px;
} 

.xurb0ha { 
    padding-left: 8px;
} 

.x1y1aw1k { 
    padding-top: 8px;
} 

.xwib8y2 { 
    padding-bottom: 8px;
} 

.x13a6bvl { 
    justify-content: flex-end;
} 

.xeuugli { 
    min-width: 0;
} 

.x2lwn1j { 
    min-height: 0;
} 

._6jw5 { 
    flex: 1 1 auto; 
    margin-bottom: 20px; 
    margin-left: 12px; 
    margin-right: 12px; 
    overflow: hidden; 
    width: calc(100% - 22px);
} 

._4u-c { 
    position: relative;
} 

.xxymvpz { 
    vertical-align: middle;
} 

.x3nfvp2 { 
    display: inline-flex;
} 

._8ivh { 
    align-items: center; 
    display: inline-flex; 
    flex-basis: 1; 
    flex-grow: 0; 
    margin-left: 12px; 
    margin-right: 12px;
} 

.x1nhvcw1 { 
    justify-content: flex-start;
} 

.x10y3i5r { 
    border-bottom-left-radius: 4px;
} 

.x1lcm9me { 
    border-top-left-radius: 4px;
} 

.x1n2onr6 { 
    position: relative;
} 

.x1yr5g0i { 
    border-top-right-radius: 4px;
} 

.x2lah0s { 
    flex-shrink: 0;
} 

.xn6708d { 
    padding-right: 12px;
} 

.xrt01vj { 
    border-bottom-right-radius: 4px;
} 

.xe8uvvx { 
    list-style: none;
} 

.x11i5rnm { 
    margin-right: 0;
} 

.x1mh8g0r { 
    margin-left: 0;
} 

.x1q0g3np { 
    flex-direction: row;
} 

.xdl72j9 { 
    flex-basis: auto;
} 

.xat24cr { 
    margin-bottom: 0;
} 

.xdj266r { 
    margin-top: 0;
} 

.x17r0tee { 
    border-left-style: none;
} 

.x1ja2u2z { 
    z-index: 0;
} 

.x87ps6o { 
    -webkit-user-select: none;
} 

.xd10rxx { 
    border-right-style: none;
} 

.xo1l8bm { 
    font-weight: 400;
} 

.x1ejq31n { 
    border-top-style: none;
} 

.x1sy0etr { 
    border-bottom-style: none;
} 

.x972fbf { 
    border-top-width: 0;
} 

.x1hl2dhg { 
    text-decoration: none;
} 

.x1g40iwv { 
    outline-offset: -1px;
} 

.x1v911su { 
    background-color: rgba(0,0,0,0);
} 

.xvmahel { 
    -webkit-font-smoothing: antialiased;
} 

.x1qhh985 { 
    border-bottom-width: 0;
} 

.x16tdsg8 { 
    text-align: inherit;
} 

.x1i10hfl { 
    -webkit-tap-highlight-color: transparent;
} 

.x1qgsegg { 
    outline-width: 1px;
} 

.x2hbi6w { 
    border-left-color: var(--always-dark-overlay);
} 

.xa49m3k { 
    border-right-color: var(--always-dark-overlay);
} 

.xaatb59 { 
    outline-style: solid;
} 

.xggy1nq { 
    touch-action: manipulation;
} 

.xjqpnuy { 
    border-top-color: var(--always-dark-overlay);
} 

.xqeqjp1 { 
    border-bottom-color: var(--always-dark-overlay);
} 

.x1ob88yx { 
    outline-color: rgba(167,179,191,1);
} 

.xbsr9hj { 
    color: rgba(28,43,51,1);
} 

.x1lku1pv:hover { 
    text-decoration: none;
} 

._8ivk { 
    align-items: center; 
    border-right: none; 
    display: inline-flex; 
    height: 28px; 
    margin-right: 4px; 
    padding-right: 12px;
} 

.x19lwn94:not([stylex-hack]) > :not(:last-child)  { 
    margin-right: 8px;
} 

.x1swvt13 { 
    padding-left: 16px;
} 

._6m6l { 
    height: 2px; 
    overflow: hidden; 
    position: absolute; 
    transition: none; 
    width: 100%; 
    z-index: 2;
} 

._6m6m { 
    opacity: 0; 
    transition: width .75s ease-in-out, background 0s linear .16s, opacity .25s ease-out .6s;
} 

.x1odjw0f { 
    overflow-y: auto;
} 

.xw2csxc { 
    overflow-x: auto;
} 

.x1gzqxud { 
    background-color: rgba(255,255,255,1);
} 

.xeaf4i8 { 
    white-space: normal;
} 

.xedcshv { 
    max-height: inherit;
} 

.x10l6tqk { 
    position: absolute;
} 

.x2b8uid { 
    text-align: center;
} 

.x1ow4hk9 { 
    padding-top: 60px;
} 

.x6mplv7 { 
    top: var(--ads-mgmt-table-header-height);
} 

.x1h4wwuj { 
    word-wrap: normal;
} 

.x1heor9g { 
    color: inherit;
} 

.xmi5d70 { 
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol!important;
} 

.x1pd3egz { 
    font-weight: inherit;
} 

.xq9mrsl { 
    white-space: inherit;
} 

.x1fvot60 { 
    font-size: .875rem!important;
} 

.xxio538 { 
    line-height: 1.42858!important;
} 

.xlyipyv { 
    text-overflow: ellipsis;
} 

.xuxw1ft { 
    white-space: nowrap;
} 

.xc02obx { 
    max-width: min-content;
} 

.x1emribx { 
    margin-right: 8px;
} 

.x1i64zmx { 
    margin-left: 8px;
} 

.x14ju556 { 
    line-height: 0;
} 

._5ldw { 
    display: inline-block; 
    position: relative;
} 

.xjbqb8w { 
    background-color: transparent;
} 

.xdk7pt { 
    height: 8px;
} 

.x12go9s9 { 
    border-top-right-radius: 999px;
} 

.x1rnf11y { 
    border-bottom-right-radius: 999px;
} 

.xprq8jg { 
    border-bottom-left-radius: 999px;
} 

.xzolkzo { 
    border-top-left-radius: 999px;
} 

._6m6l [role="progressbar"]  { 
    border-radius: 0;
} 

.xmz0i5r { 
    max-height: 100%;
} 

._2ql1 { 
    display: table; 
    height: 100%; 
    text-align: center; 
    width: 100%;
} 

._3qn7 { 
    display: flex;
} 

._2fyi { 
    flex-direction: row;
} 

._61-0 { 
    justify-content: flex-start;
} 

._3qng { 
    align-items: center;
} 

i.img { 
    -ms-high-contrast-adjust: none;
} 

.x16n37ib { 
    margin-left: 12px;
} 

.xp4054r { 
    text-align: end;
} 

.x1xxsxie { 
    line-height: 14px;
} 

.x26u7qi { 
    border-left-style: solid;
} 

.xmo9yow { 
    margin-right: 10px;
} 

.xy80clv { 
    border-left-width: 1px;
} 

.x1i1rx1s { 
    width: 1px;
} 

.xckqwgs { 
    border-left-color: var(--divider);
} 

.x17rw0jw { 
    height: 22px;
} 

.x17qophe { 
    left: 0;
} 

.x11xpdln { 
    transition-property: transform;
} 

.x1wsgiic { 
    transition-duration: .5s;
} 

.xds687c { 
    right: 0;
} 

.xpt81ld { 
    transition-timing-function: var(--fds-strong);
} 

.xqkc6xh { 
    background-color: rgba(0,107,78,1);
} 

.x1lliihq { 
    display: block;
} 

.x1mzt3pk { 
    word-wrap: break-word;
} 

table  { 
    font-family: inherit;
} 

._2ql2 { 
    box-sizing: border-box; 
    display: table-cell; 
    height: 100%; 
    padding: 0 50px; 
    text-align: center; 
    vertical-align: middle;
} 

.xcwd3tp { 
    margin-right: -1px;
} 

.x1y332i5 { 
    margin-top: -1px;
} 

.x39eecv { 
    margin-left: -1px;
} 

.x1jyxor1 { 
    margin-bottom: -1px;
} 

.xjm9jq1 { 
    height: 1px;
} 

.x1qvwoe0 { 
    clip: rect(1px,1px,1px,1px);
} 

.x1hc1fzr { 
    opacity: 1;
} 

.xl56j7k { 
    justify-content: center;
} 

.xozqiw3 { 
    flex-wrap: nowrap;
} 

.x13dflua { 
    transition-duration: .2s;
} 

.x6o7n8i { 
    transition-property: opacity,transform;
} 

.xxziih7 { 
    transition-timing-function: cubic-bezier(.08,.52,.52,1);
} 

button { 
    font-family: Helvetica, Arial, sans-serif; 
    font-size: 12px;
} 

button { 
    margin: 0;
} 

._ai7j { 
    overflow: visible; 
    position: relative;
} 

._ai7l { 
    outline: none;
} 

._271k { 
    background-position: 0 0; 
    border: 1px solid; 
    border-radius: 2px; 
    box-shadow: none; 
    box-sizing: border-box; 
    cursor: pointer; 
    -webkit-font-smoothing: antialiased; 
    font-weight: bold; 
    padding: 0; 
    position: relative; 
    text-shadow: none; 
    transition: all 300ms cubic-bezier(.1, .7, .1, 1), border-width 1ms; 
    transition-property: background, border-color, border-width, color; 
    vertical-align: middle;
} 

._271m { 
    max-width: 242px;
} 

._1qjd { 
    outline: 0;
} 

._61ve button { 
    font-family: inherit;
} 

._6nw._61ve button { 
    font-family: inherit;
} 

.x1vjfegm { 
    z-index: 1;
} 

.x7wzq59 { 
    position: -webkit-sticky; 
    position: sticky;
} 

.x13vifvy { 
    top: 0;
} 

.x1pshirs { 
    min-width: fit-content;
} 

._3-96 { 
    margin-bottom: 12px;
} 

.x12nagc { 
    margin-bottom: 4px;
} 

.x117nqv4 { 
    font-weight: bold;
} 

.x1uxerd5 { 
    font-size: 1rem!important;
} 

.x1xqt7ti { 
    font-family: Optimistic Display,system-ui,sans-serif!important;
} 

.xrohxju { 
    line-height: 1.25!important;
} 

.x1541jtf { 
    color: rgba(28,43,51,.65);
} 

.x1c4vz4f { 
    flex-grow: 0;
} 

.x150jy0e { 
    padding-right: 4px;
} 

.x1e558r4 { 
    padding-left: 4px;
} 

.x1xlr1w8 { 
    font-weight: 700;
} 

.x1k4ywey { 
    background-color: rgba(225,237,247,1);
} 

.x1qsmy5i { 
    color: rgba(10,120,190,1);
} 

.ellipsis { 
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap;
} 

._43rl { 
    align-items: center; 
    display: flex; 
    justify-content: center; 
    width: 100%;
} 

.xk50ysn { 
    font-weight: 500;
} 

.x1gryazu { 
    margin-left: auto;
} 

.x1s3fex4 { 
    box-shadow: 0 2px 8px rgba(0,0,0,.05),0 1px 1px rgba(0,0,0,.05);
} 

.x1uqg51p { 
    transform: translateY(-1px);
} 

tr  { 
    font-family: inherit;
} 

a { 
    color: #385898; 
    cursor: pointer; 
    text-decoration: none;
} 

._4yeg { 
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap;
} 

._4yeg { 
    display: inline;
} 

._231w { 
    max-width: 100%; 
    text-decoration: none;
} 

._61ve a { 
    font-family: inherit;
} 

._6nw._61ve a { 
    font-family: inherit;
} 

a:hover { 
    text-decoration: underline;
} 

._231w,._231w:hover { 
    max-width: 100%; 
    text-decoration: none;
} 

._96mf { 
    align-items: center; 
    display: flex;
} 

.clearfix { 
    zoom: 1;
} 

.clearfix:after { 
    clear: both; 
    content: '.'; 
    display: block; 
    font-size: 0; 
    height: 0; 
    line-height: 0; 
    visibility: hidden;
} 

.x1rg5ohu { 
    display: inline-block;
} 

.x3oybdh { 
    transform: scale(1);
} 

.xtwfq29 { 
    background-color: currentColor;
} 

._43rm { 
    flex-basis: auto; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap;
} 

._ai7l > * > :not(._ai7o):not(._ai7p)  { 
    transition: opacity 200ms cubic-bezier(.08,.52,.52,1);
} 

._271o { 
    flex-shrink: 0;
} 

.x1pi30zi { 
    padding-right: 16px;
} 

.x1yc453h { 
    text-align: start;
} 

.x10lij0i { 
    border-left-color: rgba(203,210,217,1);
} 

.xvyu6v8 { 
    border-right-color: rgba(203,210,217,1);
} 

.xrsgblv { 
    border-bottom-color: rgba(203,210,217,1);
} 

.xwebqov { 
    border-top-color: rgba(203,210,217,1);
} 

th  { 
    font-family: inherit;
} 

._96mg { 
    display: flex; 
    margin-right: 4px;
} 

.x1fcty0u { 
    font-weight: normal;
} 

.x63nzvj { 
    line-height: 1.33334!important;
} 

.xsuwoey { 
    font-size: .9375rem!important;
} 

._4bl7 { 
    word-wrap: break-word;
} 

._ikh ._4bl7  { 
    float: left; 
    min-height: 1px;
} 

._4bl9 { 
    word-wrap: break-word;
} 

._4bl9 { 
    overflow: hidden;
} 

input { 
    background-color: #fff; 
    color: #1c1e21;
} 

input { 
    font-family: Helvetica, Arial, sans-serif; 
    font-size: 12px;
} 

.x1t137rt { 
    outline-style: none;
} 

.xjyslct { 
    -webkit-appearance: none;
} 

.x1w3u9th { 
    opacity: .001;
} 

input  { 
    font-family: inherit;
} 

input  { 
    font-family: Helvetica, Arial, sans-serif;
} 

._1uz0 { 
    display: inline-block;
} 

svg { 
    forced-color-adjust: auto;
} 

.xlup9mm { 
    height: 16px;
} 

.x1kky2od { 
    width: 16px;
} 

._4gz1 { 
    flex: 1 1 0px; 
    overflow: hidden; 
    text-overflow: ellipsis;
} 

.x1y5rjcf { 
    line-height: 1.67;
} 

.x13fuv20 { 
    border-top-style: solid;
} 

.x1q0q8m5 { 
    border-bottom-style: solid;
} 

.xkhd6sd { 
    padding-left: 0;
} 

.xm81vs4 { 
    border-right-width: 1px;
} 

.xu3j5b3 { 
    border-right-style: solid;
} 

.x18d9i69 { 
    padding-bottom: 0;
} 

.xexx8yu { 
    padding-top: 0;
} 

.x14qfxbe { 
    width: 36px;
} 

.x15406qy { 
    transition-property: background-color;
} 

.x47corl { 
    pointer-events: none;
} 

.xg01cxk { 
    opacity: 0;
} 

.x1ey2m1c { 
    bottom: 0;
} 

.x1j6awrg:after { 
    position: absolute;
} 

.x1s928wv:after { 
    content: "";
} 

.x14q35kh:after { 
    border-top-right-radius: inherit;
} 

.x1bs8fl3:after { 
    border-left-width: 3px;
} 

.x1n7iyjn:after { 
    border-bottom-left-radius: inherit;
} 

.x1ryaxvv:after { 
    right: -1px;
} 

.x1tt7eqi:after { 
    border-right-style: inherit;
} 

.x1w3onc2:after { 
    opacity: .2;
} 

.x1wa3ocq:after { 
    border-bottom-right-radius: inherit;
} 

.x8lbu6m:after { 
    border-right-width: 3px;
} 

.x9obomg:after { 
    left: -1px;
} 

.xhhp2wi:after { 
    border-top-left-radius: inherit;
} 

.xmb4j5p:after { 
    border-right-color: inherit;
} 

.xsp6npd:after { 
    border-left-style: inherit;
} 

.xwmxa91:after { 
    border-left-color: inherit;
} 

.x1hvfe8t:after { 
    top: -1px;
} 

.x1t0di37:after { 
    border-top-style: inherit;
} 

.x1te75w5:after { 
    bottom: -1px;
} 

.x2te4dl:after { 
    border-bottom-width: 3px;
} 

.xdx8kah:after { 
    border-bottom-color: inherit;
} 

.xe25xm5:after { 
    border-bottom-style: inherit;
} 

.xmn8db3:after { 
    border-top-width: 3px;
} 

.xnl74ce:after { 
    border-top-color: inherit;
} 

.x4s1yf2 { 
    color: rgba(40,57,67,1);
} 

.xw4jnvo { 
    width: 20px;
} 

.x1qx5ct2 { 
    height: 20px;
} 

.x140t73q { 
    color: rgba(255,255,255,1);
} 

.x19bke7z { 
    background-color: rgba(10,120,190,1);
} 

.x1psfjxj { 
    transform: translateX(16px);
} 

.x13faqbe { 
    word-break: break-word;
} 

.x1vvkbs { 
    word-wrap: break-word;
} 

.x104kibb { 
    display: -webkit-box;
} 

.x1ua5tub { 
    -webkit-box-orient: vertical;
} 


/* These were inline style tags. Uses id+class to override almost everything */
#style-BE43Y.style-BE43Y {  
   display: flex;  
}  
#style-gpGJQ.style-gpGJQ {  
   background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yu/r/frMiW3k9fmj.png?_nc_eui2=AeHUhiyutwA_J48WMYD_SPPxvqnrloi4kO2-qeuWiLiQ7aDBjxYAMz4EykHUNFSI6Q_wEww_ofyO9sxe_Sdo150S");  
    background-position: -34px -180px;  
    background-size: auto;  
    width: 16px;  
    height: 16px;  
    background-repeat: no-repeat;  
    display: inline-block;  
}  
#style-DPNhk.style-DPNhk {  
   max-width: 100%;  
}  
#style-3rnRS.style-3rnRS {  
   color: rgb(20, 97, 204);  
}  
#style-YGEPL.style-YGEPL {  
   background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yu/r/frMiW3k9fmj.png?_nc_eui2=AeHUhiyutwA_J48WMYD_SPPxvqnrloi4kO2-qeuWiLiQ7aDBjxYAMz4EykHUNFSI6Q_wEww_ofyO9sxe_Sdo150S");  
    background-position: -68px -155px;  
    background-size: auto;  
    width: 12px;  
    height: 12px;  
    background-repeat: no-repeat;  
    display: inline-block;  
}  
#style-eVT8J.style-eVT8J {  
   color: rgb(20, 97, 204);  
}  
#style-NsAjW.style-NsAjW {  
   background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yu/r/frMiW3k9fmj.png?_nc_eui2=AeHUhiyutwA_J48WMYD_SPPxvqnrloi4kO2-qeuWiLiQ7aDBjxYAMz4EykHUNFSI6Q_wEww_ofyO9sxe_Sdo150S");  
    background-position: -68px -155px;  
    background-size: auto;  
    width: 12px;  
    height: 12px;  
    background-repeat: no-repeat;  
    display: inline-block;  
}  
#style-tmXSo.style-tmXSo {  
   background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yk/r/Oq4hWev4Svf.png?_nc_eui2=AeG2lyq37GEDcFkRmYkH1ZOJgLXN1b8YjvWAtc3VvxiO9Vp9YLB0z_Z8TqA1KCu79Sz3pgINCUYmJblrXGSmVbuW");  
    background-position: -21px -1332px;  
    background-size: auto;  
    width: 8px;  
    height: 8px;  
    background-repeat: no-repeat;  
    display: inline-block;  
}  
#style-OSfwM.style-OSfwM {  
   width: 16px;  
    height: 16px;  
    mask-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/y2/r/2qdc4_H3cyf.png?_nc_eui2=AeGFp6SFQHRlZl8Kn-izkrKIKQHvfMF0Zi4pAe98wXRmLmFikt8CiA0vEgb6etcPBXoz7pPYPva8qQ1TmKkKnKHs");  
    mask-position: -34px -239px;  
}  
#style-kKjx1.style-kKjx1 {  
   max-width: 100%;  
    letter-spacing: normal;  
    color: rgb(28, 30, 33);  
    font-size: 14px;  
    font-weight: normal;  
    font-family: Roboto, Arial, sans-serif;  
    line-height: 36px;  
    text-align: center;  
    background-color: rgba(0, 0, 0, 0.05);  
    border-color: rgba(0, 0, 0, 0.05);  
    height: 36px;  
    padding-left: 16px;  
    padding-right: 16px;  
    border-radius: 6px;  
    border-width: 0px;  
}  
#style-HEUTl.style-HEUTl {  
   margin-left: 8px;  
    margin-right: -6px;  
    background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yk/r/Oq4hWev4Svf.png?_nc_eui2=AeG2lyq37GEDcFkRmYkH1ZOJgLXN1b8YjvWAtc3VvxiO9Vp9YLB0z_Z8TqA1KCu79Sz3pgINCUYmJblrXGSmVbuW");  
    background-position: 0px -3627px;  
    background-size: auto;  
    width: 16px;  
    height: 16px;  
    background-repeat: no-repeat;  
    display: inline-block;  
}  
#style-NaGIy.style-NaGIy {  
   width: 16px;  
    height: 16px;  
    mask-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yV/r/L-LpLWhHnK3.png?_nc_eui2=AeG6eTBN9PlG_b2re-aOmY3ZPcOTZJhUrms9w5NkmFSua7cbw8KsBIAf1jD7jYoQ6JKCH_0wECYu4mB5awUv_msg");  
    mask-position: 0px -427px;  
}  
#style-1vL3q.style-1vL3q {  
   width: 16px;  
    height: 16px;  
    mask-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yV/r/L-LpLWhHnK3.png?_nc_eui2=AeG6eTBN9PlG_b2re-aOmY3ZPcOTZJhUrms9w5NkmFSua7cbw8KsBIAf1jD7jYoQ6JKCH_0wECYu4mB5awUv_msg");  
    mask-position: 0px -427px;  
}  
#style-CpyGK.style-CpyGK {  
   max-height: 506px;  
}  
#style-1yMbc.style-1yMbc {  
   top: 40px;  
}  
#style-1lxeH.style-1lxeH {  
   transform: translateX(0%);  
}  
#style-kWWEv.style-kWWEv {  
   display: grid;  
    grid-template-columns: minmax(0px, 1.5fr) minmax(0px, 1.5fr) minmax(0px, 2fr) minmax(0px, 1.5fr) minmax(0px, 1.5fr);  
    width: min-content;  
    min-width: 100%;  
}  
#style-LtIVt.style-LtIVt {  
   grid-area: 1 / 1 / auto / 2;  
}  
#style-s2pGV.style-s2pGV {  
   -webkit-line-clamp: 2;  
    text-wrap: wrap;  
}  
#style-tXZYa.style-tXZYa {  
   grid-area: 1 / 2 / auto / 3;  
}  
#style-87Sj8.style-87Sj8 {  
   -webkit-line-clamp: 2;  
    text-wrap: wrap;  
}  
#style-UTwCy.style-UTwCy {  
   grid-area: 1 / 3 / auto / 4;  
}  
#style-c2Lxp.style-c2Lxp {  
   -webkit-line-clamp: 2;  
    text-wrap: wrap;  
}  
#style-Kd8Dw.style-Kd8Dw {  
   grid-area: 1 / 4 / auto / 5;  
}  
#style-bpGZx.style-bpGZx {  
   -webkit-line-clamp: 2;  
    text-wrap: wrap;  
}  
#style-zRzVU.style-zRzVU {  
   grid-area: 1 / 5 / auto / 6;  
}  
#style-OzY8t.style-OzY8t {  
   -webkit-line-clamp: 2;  
    text-wrap: wrap;  
}  
#style-EnB4c.style-EnB4c {  
   background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yv/r/cX7DKT2CkS9.png?_nc_eui2=AeFQvTqS9XY1vbb3Kg_X-MzOnyzUMinCbu6fLNQyKcJu7iPJmBcK1vFs9OL1Rl2SAPkXhWcl45B-stxfAiy_JcsJ");  
    background-position: -49px -1919px;  
    background-size: auto;  
    width: 46px;  
    height: 38px;  
    background-repeat: no-repeat;  
    display: inline-block;  
}  
