@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap'); 
@font-face { 
  font-display:block;
  font-family:'Optimistic Display';
  font-style:normal;
  font-weight:700;
  src:url(https://static.xx.fbcdn.net/rsrc.php/yU/r/WXBYOaYZuYu.woff2) format('woff2'), url(https://static.xx.fbcdn.net/rsrc.php/yY/r/uFQSckMfvjy.woff) format('woff'), url(https://static.xx.fbcdn.net/rsrc.php/ye/r/EvBN2KAyST_.eot) format('embedded-opentype');
} 
@font-face { 
  font-display:block;
  font-family:'Optimistic Display';
  font-style:normal;
  font-weight:500;
  src:url(https://static.xx.fbcdn.net/rsrc.php/yL/r/jfwoHaS3i0K.woff2) format('woff2'), url(https://static.xx.fbcdn.net/rsrc.php/yx/r/fTvKFwGz9bf.woff) format('woff'), url(https://static.xx.fbcdn.net/rsrc.php/yV/r/J1XKtFquvMN.eot) format('embedded-opentype');
} 
@font-face { 
  font-display:block;
  font-family:'Optimistic Display';
  font-style:normal;
  font-weight:300;
  src:url(https://static.xx.fbcdn.net/rsrc.php/yJ/r/gJ8wmjmQhMa.woff2) format('woff2'), url(https://static.xx.fbcdn.net/rsrc.php/yG/r/6EsmO4OOkIi.woff) format('woff'), url(https://static.xx.fbcdn.net/rsrc.php/y4/r/d8NpUU2wnvQ.eot) format('embedded-opentype');
} 
  body {  
    font-family:inherit;
    background-image:radial-gradient(50% 50% at 50% 50%,rgba(160,51,255,.024) 0%,rgba(160,51,255,0) 50%),radial-gradient(50% 50% at 50% 50%,rgba(160,51,255,.04) 0%,rgba(160,51,255,0) 75%),radial-gradient(50% 50% at 50% 50%,rgba(160,51,255,.064) 0%,rgba(160,51,255,0) 100%),radial-gradient(50% 50% at 50% 50%,rgba(24,119,242,.024) 0%,rgba(24,119,242,0) 50%),radial-gradient(50% 50% at 50% 50%,rgba(24,119,242,.04) 0%,rgba(24,119,242,0) 75%),radial-gradient(50% 50% at 50% 50%,rgba(24,119,242,.064) 0%,rgba(24,119,242,0) 100%),radial-gradient(50% 50% at 50% 50%,rgba(255,108,92,.024) 0%,rgba(255,108,92,0) 50%),radial-gradient(50% 50% at 50% 50%,rgba(255,108,92,.04) 0%,rgba(255,108,92,0) 75%),radial-gradient(50% 50% at 50% 50%,rgba(255,108,92,.064) 0%,rgba(255,108,92,0) 100%),radial-gradient(50% 50% at 50% 50%,rgba(245,206,51,.024) 0%,rgba(245,206,51,0) 50%),radial-gradient(50% 50% at 50% 50%,rgba(245,206,51,.04) 0%,rgba(245,206,51,0) 75%),radial-gradient(50% 50% at 50% 50%,rgba(245,206,51,.064) 0%,rgba(245,206,51,0) 100%),radial-gradient(50% 50% at 50% 50%,rgba(37,211,102,.024) 0%,rgba(37,211,102,0) 50%),radial-gradient(50% 50% at 50% 50%,rgba(37,211,102,.04) 0%,rgba(37,211,102,0) 75%),radial-gradient(50% 50% at 50% 50%,rgba(37,211,102,.064) 0%,rgba(37,211,102,0) 100%),radial-gradient(50% 50% at 50% 50%,rgba(24,119,242,.024) 0%,rgba(24,119,242,0) 50%),radial-gradient(50% 50% at 50% 50%,rgba(24,119,242,.04) 0%,rgba(24,119,242,0) 75%),radial-gradient(50% 50% at 50% 50%,rgba(24,119,242,.064) 0%,rgba(24,119,242,0) 100%);
    background:#fff;
    color:#1c1e21;
    direction:ltr;
    line-height:1.28;
    font-size:12px;
  }  
._61ve div { 
    font-family: inherit;
} 

._6nw._61ve div { 
    font-family: inherit;
} 

._61ve span { 
    font-family: inherit;
} 

._6nw._61ve span { 
    font-family: inherit;
} 

.x10wlt62 { 
    overflow-y: hidden;
} 

.x5yr21d { 
    height: 100%;
} 

.uiContextualLayerParent { 
    position: relative;
} 

body { 
    background: #fff; 
    color: #1c1e21; 
    direction: ltr; 
    line-height: 1.34; 
    margin: 0; 
    padding: 0; 
    unicode-bidi: embed;
} 

body { 
    font-family: Helvetica, Arial, sans-serif; 
    font-size: 12px;
} 

body { 
    overflow-y: scroll;
} 

html { 
    touch-action: manipulation;
} 

:root { 
    --accent: hsl(214, 89%, 52%); 
    --always-white: #FFFFFF; 
    --always-dark-overlay: rgba(0, 0, 0, 0.4); 
    --badge-background-color-blue: var(--accent); 
    --badge-background-color-dark-gray: var(--secondary-icon); 
    --badge-background-color-gray: var(--disabled-icon); 
    --badge-background-color-green: var(--positive); 
    --badge-background-color-light-blue: var(--highlight-bg); 
    --badge-background-color-red: var(--notification-badge); 
    --badge-background-color-yellow: var(--base-lemon); 
    --base-lemon: #F7B928; 
    --disabled-button-background: #E4E6EB; 
    --disabled-icon: #BCC0C4; 
    --divider: #CED0D4; 
    --focus-ring-blue: #1877F2; 
    --highlight-bg: #E7F3FF; 
    --inverse-text: var(--always-white); 
    --media-inner-border: rgba(0, 0, 0, 0.1); 
    --messenger-card-background: #FFFFFF; 
    --mwp-header-background-color: var(--messenger-card-background); 
    --mwp-header-button-color: var(--accent); 
    --mwp-message-row-background: var(--messenger-card-background); 
    --notification-badge: #e41e3f; 
    --placeholder-text: #65676B; 
    --positive: #31A24C; 
    --primary-icon: #050505; 
    --scroll-thumb: #BCC0C4; 
    --secondary-button-background: #E4E6EB; 
    --secondary-icon: #65676B; 
    --shadow-1: rgba(0, 0, 0, 0.1); 
    --shadow-2: rgba(0, 0, 0, 0.2); 
    --shadow-5: rgba(0, 0, 0, 0.5); 
    --shadow-base: 0 1px 2px var(--shadow-2); 
    --shadow-emphasis: 0 2px 12px var(--shadow-2); 
    --input-border-color-hover: var(--placeholder-text); 
    --tooltip-box-shadow: 0 2px 4px 0 var(--shadow-5); 
    --chat-outgoing-message-bubble-background-color: var(--accent); 
    --radio-border-color: var(--primary-icon); 
    --radio-border-color-disabled: var(--disabled-button-background); 
    --radio-border-color-selected: var(--accent); 
    --radio-checked-icon-color: var(--accent); 
    --radio-checked-icon-color-disabled: var(--disabled-button-background); 
    --button-height-medium: 36px; 
    --card-box-shadow: 0 12px 28px 0 var(--shadow-2), 0 2px 4px 0 var(--shadow-1); 
    --focus-ring-outline-link: 2px auto var(--focus-ring-blue); 
    --focus-ring-shadow-default: 0 0 0 2px var(--always-white), 0 0 0 4px var(--focus-ring-blue); 
    --focus-ring-shadow-inset: 0 0 0 2px var(--focus-ring-blue) inset, 0 0 0 4px var(--always-white) inset; 
} 

:root { 
    --geodesic-appearance-radius-rounded: 999px; 
    --geodesic-color-background-error-primary: rgba(217,54,22,1); 
    --geodesic-color-border-element-default-active: rgba(0,0,0,0.15); 
    --geodesic-color-text-heading-default-active: rgba(0,0,0,0.75); 
} 

:root { 
    --accent: rgb(8,102,255); 
    --always-white: rgb(255,255,255); 
    --disabled-button-background: rgb(228,230,235); 
    --disabled-icon: rgb(188,192,196); 
    --divider: rgb(201,204,209); 
    --media-inner-border: rgba(0,0,0,0.10); 
    --notification-badge: rgb(228,30,63); 
    --placeholder-text: rgb(101,103,107); 
    --positive: rgb(49,162,76); 
    --primary-icon: rgb(5,5,5); 
    --secondary-button-background: rgb(228,230,235); 
    --secondary-icon: rgb(101,103,107); 
} 

:root { 
    --x1dflwya: var(--secondary-button-background); 
    --xgcszl1: var(--button-height-medium); 
} 

._7o1x { 
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .1); 
    height: 100%; 
    position: relative; 
    transition: width 200ms cubic-bezier(.08,.52,.52,1); 
    z-index: 203;
} 

.x9f619 { 
    box-sizing: border-box;
} 

.x15yg21f { 
    width: 56px;
} 

.x6ikm8r { 
    overflow-x: hidden;
} 

.x13dflua { 
    transition-duration: .2s;
} 

.x2lah0s { 
    flex-shrink: 0;
} 

.x78zum5 { 
    display: flex;
} 

.x87ps6o { 
    -webkit-user-select: none;
} 

.xdt5ytf { 
    flex-direction: column;
} 

.x1y1aw1k { 
    padding-top: 8px;
} 

.xwib8y2 { 
    padding-bottom: 8px;
} 

.x1gzqxud { 
    background-color: rgba(255,255,255,1);
} 

.xxrbq2n { 
    transition-property: width;
} 

.xxziih7 { 
    transition-timing-function: cubic-bezier(.08,.52,.52,1);
} 

.x1sxyh0 { 
    padding-right: 8px;
} 

.xurb0ha { 
    padding-left: 8px;
} 

.x1ja2u2z { 
    z-index: 0;
} 

.x1n2onr6 { 
    position: relative;
} 

.x1rohswg { 
    scrollbar-width: none;
} 

.x5lxg6s { 
    -webkit-overflow-scrolling: touch;
} 

.x1odjw0f { 
    overflow-y: auto;
} 

.x1oyok0e { 
    transform-style: preserve-3d;
} 

.xwo3gff { 
    perspective-origin: right top;
} 

.xx8ngbg { 
    perspective: 1px;
} 

.x1e4zzel { 
    overscroll-behavior-y: contain;
} 

.xavht8x:not([stylex-hack]) > * + *  { 
    margin-top: 8px;
} 

.xfk6m8:-webkit-scrollbar { 
    display: none;
} 

.x1yqm8si:-webkit-scrollbar { 
    height: 0;
} 

.xjx87ck:-webkit-scrollbar { 
    width: 0;
} 

.x1trwbdj { 
    border-top-right-radius: .5em;
} 

.x6a0fk7 { 
    border-bottom-right-radius: .5em;
} 

.xa9qn9j { 
    border-top-left-radius: .5em;
} 

.xuyh7jl { 
    border-bottom-left-radius: .5em;
} 

.x1iyjqo2 { 
    flex-grow: 1;
} 

.x10l6tqk { 
    position: absolute;
} 

.x14nfmen { 
    background-color: var(--divider);
} 

.x19991ni { 
    transition-property: opacity;
} 

.x1s85apg { 
    display: none;
} 

.x1wsgiic { 
    transition-duration: .5s;
} 

.xds687c { 
    right: 0;
} 

.xg01cxk { 
    opacity: 0;
} 

.xwji4o3 { 
    transition-timing-function: ease;
} 

.x13vifvy { 
    top: 0;
} 

.x1kky2od { 
    width: 16px;
} 

.x1sd63oq:hover { 
    opacity: .3;
} 

.x150jy0e { 
    padding-right: 4px;
} 

.x1d8287x { 
    transition-duration: .3s;
} 

.x1e558r4 { 
    padding-left: 4px;
} 

.x47corl { 
    pointer-events: none;
} 

.x18d9i69 { 
    padding-bottom: 0;
} 

.xexx8yu { 
    padding-top: 0;
} 

.x1n4smgl { 
    transform-origin: right top;
} 

._85b_ { 
    overflow: visible;
} 

.x1qughib { 
    justify-content: space-between;
} 

.x6s0dn4 { 
    align-items: center;
} 

.x1yztbdb { 
    margin-bottom: 16px;
} 

.x2lwn1j { 
    min-height: 0;
} 

.xeuugli { 
    min-width: 0;
} 

.x10y3i5r { 
    border-bottom-left-radius: 4px;
} 

.x1lcm9me { 
    border-top-left-radius: 4px;
} 

.x1yr5g0i { 
    border-top-right-radius: 4px;
} 

.xrt01vj { 
    border-bottom-right-radius: 4px;
} 

.xh8yej3 { 
    width: 100%;
} 

.x1hwfnsy { 
    background-color: var(--scroll-thumb);
} 

hr { 
    background: #dadde1; 
    border-width: 0; 
    color: #dadde1; 
    height: 1px;
} 

.x1emribx { 
    margin-right: 8px;
} 

.x1i64zmx { 
    margin-left: 8px;
} 

.xjbqb8w { 
    background-color: transparent;
} 

.x1e56ztr { 
    margin-bottom: 8px;
} 

.x1q0q8m5 { 
    border-bottom-style: solid;
} 

.xdj266r { 
    margin-top: 0;
} 

.xqtp20y { 
    height: 0;
} 

.xso031l { 
    border-bottom-width: 1px;
} 

.x10lij0i { 
    border-left-color: rgba(203,210,217,1);
} 

.xvyu6v8 { 
    border-right-color: rgba(203,210,217,1);
} 

.xwebqov { 
    border-top-color: rgba(203,210,217,1);
} 

.xrsgblv { 
    border-bottom-color: rgba(203,210,217,1);
} 

._3qn7 { 
    display: flex;
} 

._2fyh { 
    flex-direction: column;
} 

._61-3 { 
    justify-content: space-between;
} 

._3qng { 
    align-items: center;
} 

.x3nfvp2 { 
    display: inline-flex;
} 

.xxymvpz { 
    vertical-align: middle;
} 

.x12nagc { 
    margin-bottom: 4px;
} 

.x193iq5w { 
    max-width: 100%;
} 

.xng8ra { 
    height: 60px;
} 

._61-0 { 
    justify-content: flex-start;
} 

._4tau { 
    flex-wrap: wrap;
} 

._3-95 { 
    margin-bottom: 8px;
} 

.xe8uvvx { 
    list-style: none;
} 

.x11i5rnm { 
    margin-right: 0;
} 

.x1mh8g0r { 
    margin-left: 0;
} 

.x4uap5 { 
    padding-right: 0;
} 

.xkhd6sd { 
    padding-left: 0;
} 

.xat24cr { 
    margin-bottom: 0;
} 

a { 
    color: #385898; 
    cursor: pointer; 
    text-decoration: none;
} 

.x17r0tee { 
    border-left-style: none;
} 

.x1ejq31n { 
    border-top-style: none;
} 

.x1g40iwv { 
    outline-offset: -1px;
} 

.x1q0g3np { 
    flex-direction: row;
} 

.x1v911su { 
    background-color: rgba(0,0,0,0);
} 

.x1ye3gou { 
    padding-left: 12px;
} 

.x1ypdohk { 
    cursor: pointer;
} 

.x972fbf { 
    border-top-width: 0;
} 

.xcfux6l { 
    border-right-width: 0;
} 

.xd10rxx { 
    border-right-style: none;
} 

.xdl72j9 { 
    flex-basis: auto;
} 

.xm0m39n { 
    border-left-width: 0;
} 

.xn6708d { 
    padding-right: 12px;
} 

.xo1l8bm { 
    font-weight: 400;
} 

.xvmahel { 
    -webkit-font-smoothing: antialiased;
} 

.x1qhh985 { 
    border-bottom-width: 0;
} 

.x1sy0etr { 
    border-bottom-style: none;
} 

.x1hl2dhg { 
    text-decoration: none;
} 

.x16tdsg8 { 
    text-align: inherit;
} 

.x1t137rt { 
    outline-style: none;
} 

.xbsr9hj { 
    color: rgba(28,43,51,1);
} 

.x1i10hfl { 
    -webkit-tap-highlight-color: transparent;
} 

.x2hbi6w { 
    border-left-color: var(--always-dark-overlay);
} 

.xa49m3k { 
    border-right-color: var(--always-dark-overlay);
} 

.xggy1nq { 
    touch-action: manipulation;
} 

.xjqpnuy { 
    border-top-color: var(--always-dark-overlay);
} 

.xqeqjp1 { 
    border-bottom-color: var(--always-dark-overlay);
} 

._61ve a { 
    font-family: inherit;
} 

._6nw._61ve a { 
    font-family: inherit;
} 

.x1h4wwuj { 
    word-wrap: normal;
} 

.x1heor9g { 
    color: inherit;
} 

.xmi5d70 { 
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol!important;
} 

.x1pd3egz { 
    font-weight: inherit;
} 

.x1fvot60 { 
    font-size: .875rem!important;
} 

.xq9mrsl { 
    white-space: inherit;
} 

.xxio538 { 
    line-height: 1.42858!important;
} 

._96sk { 
    margin-bottom: 14px; 
    margin-top: 10px;
} 

.x3oybdh { 
    transform: scale(1);
} 

.xdm93yi:not([stylex-hack]) > * + *  { 
    margin-top: 2px;
} 

.x10vuhgg { 
    border-top-left-radius: 36px;
} 

.x1883u4 { 
    border-top-right-radius: 36px;
} 

.xb8s3i7 { 
    border-bottom-left-radius: 36px;
} 

.xr1wzlq { 
    border-bottom-right-radius: 36px;
} 

.x14qfxbe { 
    width: 36px;
} 

.x1lku1pv:hover { 
    text-decoration: none;
} 

._85c1 { 
    position: relative;
} 

.x1rg5ohu { 
    display: inline-block;
} 

.x67bb7w { 
    pointer-events: auto;
} 

.x17qophe { 
    left: 0;
} 

.x8knxv4 { 
    z-index: -1;
} 

.x1ey2m1c { 
    bottom: 0;
} 

.xdzyupr { 
    width: 300px;
} 

.x139jcc6 { 
    margin-left: -4px;
} 

.xl56j7k { 
    justify-content: center;
} 

.x187nhsf { 
    width: 44px;
} 

.x39eecv { 
    margin-left: -1px;
} 

.xuxw1ft { 
    white-space: nowrap;
} 

.x1i1rx1s { 
    width: 1px;
} 

.x1jyxor1 { 
    margin-bottom: -1px;
} 

.x1y332i5 { 
    margin-top: -1px;
} 

.xjm9jq1 { 
    height: 1px;
} 

.x1qvwoe0 { 
    clip: rect(1px,1px,1px,1px);
} 

.xcwd3tp { 
    margin-right: -1px;
} 

.x1hc1fzr { 
    opacity: 1;
} 

.x6o7n8i { 
    transition-property: opacity,transform;
} 

.xozqiw3 { 
    flex-wrap: nowrap;
} 

.x1qjc9v5 { 
    align-items: stretch;
} 

.xs83m0k { 
    flex-shrink: 1;
} 

.x13fuv20 { 
    border-top-style: solid;
} 

.x26u7qi { 
    border-left-style: solid;
} 

.xu3j5b3 { 
    border-right-style: solid;
} 

a:hover { 
    text-decoration: underline;
} 

.xrbr6if { 
    background-color: #e6f5f0;
} 

.xmix8c7 { 
    height: 18px;
} 

.x1c4vz4f { 
    flex-grow: 0;
} 

.x1xlr1w8 { 
    font-weight: 700;
} 

.xjwf9q1 { 
    min-height: 24px;
} 

.x1qsmy5i { 
    color: rgba(10,120,190,1);
} 

.x117nqv4 { 
    font-weight: bold;
} 

.x12go9s9 { 
    border-top-right-radius: 999px;
} 

.x140t73q { 
    color: rgba(255,255,255,1);
} 

.x16hj40l { 
    padding-left: 6px;
} 

.x1rnf11y { 
    border-bottom-right-radius: 999px;
} 

.x2b8uid { 
    text-align: center;
} 

.xprq8jg { 
    border-bottom-left-radius: 999px;
} 

.xsyo7zv { 
    padding-right: 6px;
} 

.xzolkzo { 
    border-top-left-radius: 999px;
} 

.x1j85h84 { 
    padding-bottom: 1px;
} 

.x4p5aij { 
    padding-top: 1px;
} 

.x63nzvj { 
    line-height: 1.33334!important;
} 

.xbmvcp8 { 
    background-color: rgba(220,55,60,1);
} 

.xw23nyj { 
    font-size: .75rem!important;
} 

.x16xo4sp { 
    min-width: 18px;
} 

._4962 { 
    float: left; 
    position: relative;
} 

._85b_ ._85c1 ._4962  { 
    position: static;
} 

img { 
    border: 0;
} 

.x10w6t97 { 
    height: 32px;
} 

.x1td3qas { 
    width: 32px;
} 

.x19lwn94:not([stylex-hack]) > :not(:last-child)  { 
    margin-right: 8px;
} 

.x1k4ywey { 
    background-color: rgba(225,237,247,1);
} 

.x3pnbk8 { 
    row-gap: 8px;
} 

.xfex06f { 
    column-gap: 8px;
} 

.xc9qbxq { 
    height: 36px;
} 

.xlyipyv { 
    text-overflow: ellipsis;
} 

a[role="button"]  { 
    font-family: Helvetica, Arial, sans-serif;
} 

._61ve a,a[role="button"]  { 
    font-family: inherit;
} 

._4962 a.jewelButton  { 
    display: block; 
    margin: 0; 
    outline: none; 
    padding-left: 3px; 
    padding-right: 3px; 
    padding-top: 4px; 
    position: relative; 
    text-decoration: none;
} 

._6nw._61ve a,a[role="button"]  { 
    font-family: inherit;
} 

._85b_ ._85c1 ._4962._85d4 .jewelButton  { 
    display: block; 
    margin-right: -2px; 
    margin-top: 1px; 
    padding: 0; 
    pointer-events: none; 
    position: absolute; 
    right: 0; 
    top: 0;
} 

._4962 a.jewelButton , ._4962 a.jewelButton:active, ._4962 a.jewelButton:hover { 
    display: block; 
    margin: 0; 
    outline: none; 
    padding-left: 3px; 
    padding-right: 3px; 
    padding-top: 4px; 
    position: relative; 
    text-decoration: none;
} 

._85b_ ._85c1 ._4962._85d4 .jewelButton , ._85b_ ._85c1 ._4962._85d4 .jewelButton:hover { 
    display: block; 
    margin-right: -2px; 
    margin-top: 1px; 
    padding: 0; 
    pointer-events: none; 
    position: absolute; 
    right: 0; 
    top: 0;
} 

.uiToggleFlyout,.toggleTargetClosed { 
    display: none;
} 

.__tw { 
    background: #fff; 
    border: 1px solid rgba(100, 100, 100, .4); 
    border-radius: 0 0 2px 2px; 
    box-shadow: 0 3px 8px rgba(0, 0, 0, .2); 
    color: #1d2129; 
    overflow: visible; 
    position: absolute; 
    top: 38px; 
    width: 460px; 
    z-index: -1;
} 

._4xi1 { 
    right: 0;
} 

._85b_ ._85c1 ._85d4 ._85d5  { 
    bottom: 24px; 
    font-size: 12px; 
    left: 20px; 
    line-height: 1.28; 
    position: fixed; 
    text-align: left; 
    top: inherit; 
    z-index: 204;
} 

._85b_ ._9opo ._85d4 ._85d5  { 
    border: 1px solid var(--geodesic-color-border-element-default-active); 
    bottom: 0; 
    box-shadow: none; 
    left: 56px; 
    top: 0; 
    width: 500px; 
    z-index: -1;
} 

.xvy4d1p { 
    width: 24px;
} 

.xxk0z11 { 
    height: 24px;
} 

i.img { 
    -ms-high-contrast-adjust: none;
} 

.xtwfq29 { 
    background-color: currentColor;
} 

._4962 a.jewelButton, ._4962 a.jewelButton:active, ._4962 a.jewelButton:focus, ._4962 a.jewelButton:hover { 
    display: block; 
    margin: 0; 
    outline: none; 
    padding-left: 3px; 
    padding-right: 3px; 
    padding-top: 4px; 
    position: relative; 
    text-decoration: none;
} 

._85b_ ._85c1 ._4962._85d4 .jewelButton, ._85b_ ._85c1 ._4962._85d4 .jewelButton:hover { 
    display: block; 
    margin-right: -2px; 
    margin-top: 1px; 
    padding: 0; 
    pointer-events: none; 
    position: absolute; 
    right: 0; 
    top: 0;
} 

._4962 ._2n_9  { 
    background-clip: content-box; 
    background-origin: content-box; 
    height: 24px; 
    padding: 0 3px 3px 0; 
    width: 24px;
} 

._4xi2 a.jewelButton ._2n_9  { 
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yN/r/7QnoZvvYNSV.png); 
    background-repeat: no-repeat; 
    background-size: auto; 
    background-position: 0 -125px; 
    opacity: .6;
} 

._4xi2._5orl a.jewelButton ._2n_9  { 
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yN/r/7QnoZvvYNSV.png); 
    background-repeat: no-repeat; 
    background-size: auto; 
    background-position: 0 -175px; 
    opacity: .6;
} 

._85b_ #fbNotificationsJewel ._2n_9  { 
    background: none; 
    height: 20px; 
    opacity: 1; 
    padding: inherit; 
    width: 20px;
} 

._4xi2 a.jewelButton:hover ._2n_9 { 
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yN/r/7QnoZvvYNSV.png); 
    background-repeat: no-repeat; 
    background-size: auto; 
    background-position: 0 -125px; 
    opacity: .8;
} 

._4xi2._5orl a.jewelButton:hover ._2n_9 { 
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yN/r/7QnoZvvYNSV.png); 
    background-repeat: no-repeat; 
    background-size: auto; 
    background-position: 0 -175px; 
    opacity: .8;
} 

._33p { 
    -webkit-overflow-scrolling: touch;
} 

._85b_ ._9opo ._33p  { 
    flex-grow: 1;
} 

.x1lliihq { 
    display: block;
} 

.x178xt8z { 
    border-top-width: 1px;
} 

.x1exxf4d { 
    border-top-color: var(--media-inner-border);
} 

.x1y71gwh { 
    border-right-color: var(--media-inner-border);
} 

.xm81vs4 { 
    border-right-width: 1px;
} 

.xu1343h { 
    border-left-color: var(--media-inner-border);
} 

.xy80clv { 
    border-left-width: 1px;
} 

.x1nb4dca { 
    border-bottom-color: var(--media-inner-border);
} 

.x11xpdln { 
    transition-property: transform;
} 

.xoo4vsp { 
    right: -8px;
} 

.x1fo6t33 { 
    top: -4px;
} 

.x1fcty0u { 
    font-weight: normal;
} 

.x1uxerd5 { 
    font-size: 1rem!important;
} 

.x1xqt7ti { 
    font-family: Optimistic Display,system-ui,sans-serif!important;
} 

.xrohxju { 
    line-height: 1.25!important;
} 

._76t_ { 
    background-color: #fa383e; 
    border-radius: 2px; 
    color: #fff; 
    font-size: 10px; 
    height: 12px; 
    padding: 1px 3px; 
    position: absolute; 
    text-align: center; 
    top: 0;
} 

._76t_ { 
    right: 2px;
} 

._7257 { 
    opacity: 0;
} 

._85b_ ._85c1 ._85d4 ._2n_9 #NotifIndeterminateBadge  { 
    align-items: center; 
    background-color: var(--geodesic-color-background-error-primary); 
    border-radius: var(--geodesic-appearance-radius-rounded); 
    box-sizing: border-box; 
    display: flex; 
    font-size: 1em; 
    font-weight: 700; 
    height: 18px; 
    justify-content: center; 
    line-height: 1px; 
    min-width: 18px; 
    outline-style: none; 
    padding: 1px 6px; 
    white-space: nowrap;
} 

._9q20 { 
    display: flex; 
    height: 28px; 
    justify-content: space-between; 
    padding-left: 16px; 
    padding-right: 16px; 
    padding-top: 16px;
} 

._85b_ ._9opo ._33p > div  { 
    display: flex; 
    flex-direction: column; 
    height: 100%;
} 

.x1pi30zi { 
    padding-right: 16px;
} 

.x1swvt13 { 
    padding-left: 16px;
} 

.xc074nb { 
    border-top-color: #dadde1;
} 

.x1o1nzlu { 
    min-height: 15px;
} 

.x13rtm0m { 
    border-bottom-left-radius: inherit;
} 

.x1e5q0jg { 
    border-bottom-right-radius: inherit;
} 

.x1o1ewxj { 
    border-top-left-radius: inherit;
} 

.x3x9cwd { 
    border-top-right-radius: inherit;
} 

.x10cdfl8 { 
    background-color: rgba(241,244,247,1);
} 

.x1u8cyq { 
    animation-delay: 5s;
} 

.x1vbbgbo { 
    animation-iteration-count: 4;
} 

.x96ww5j { 
    animation-name: xagu1eb-B;
} 

.xkqsfgs { 
    animation-duration: 6.5s;
} 

.xlzl7h3 { 
    transform-origin: 50% 10%;
} 

._9q29 { 
    color: var(--geodesic-color-text-heading-default-active); 
    font-size: 18px; 
    font-weight: bold;
} 

._6rji { 
    display: flex;
} 

._55ym { 
    animation: rotateSpinner 1.2s steps(20, end) infinite; 
    display: inline-block; 
    vertical-align: middle;
} 

._55yn._55yo { 
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yD/r/MKQzjVd1bVq.png); 
    height: 12px; 
    width: 12px;
} 

.__tw .jewelLoading  { 
    display: block; 
    margin: 10px auto;
} 

.x1jgp7su:not([stylex-hack]) img  { 
    left: 0;
} 

.x1q1rkhy:not([stylex-hack]) img  { 
    position: absolute;
} 

.xhl3afg:not([stylex-hack]) img  { 
    object-fit: cover;
} 

.x18tuezv:not([stylex-hack]) img  { 
    top: 0;
} 

.x1xuqjiz:not([stylex-hack]) img  { 
    width: 100%;
} 

.xtd80it:not([stylex-hack]) img  { 
    height: 100%;
} 

._6_5s { 
    margin-top: -4px; 
    padding-right: 4px;
} 

._6rk- { 
    border-radius: 50%;
} 

._4yef { 
    display: inline-block;
} 

._231w { 
    max-width: 100%; 
    text-decoration: none;
} 

._231w,._231w:hover { 
    max-width: 100%; 
    text-decoration: none;
} 

._231z:hover { 
    text-decoration: underline;
} 

button { 
    font-family: Helvetica, Arial, sans-serif; 
    font-size: 12px;
} 

button { 
    margin: 0;
} 

._ai7j { 
    overflow: visible; 
    position: relative;
} 

._271k { 
    background-position: 0 0; 
    border: 1px solid; 
    border-radius: 2px; 
    box-shadow: none; 
    box-sizing: border-box; 
    cursor: pointer; 
    -webkit-font-smoothing: antialiased; 
    font-weight: bold; 
    padding: 0; 
    position: relative; 
    text-shadow: none; 
    transition: all 300ms cubic-bezier(.1, .7, .1, 1), border-width 1ms; 
    transition-property: background, border-color, border-width, color; 
    vertical-align: middle;
} 

._271m { 
    max-width: 242px;
} 

._1o4e { 
    padding: 0;
} 

._1qjd { 
    outline: 0;
} 

._61ve button { 
    font-family: inherit;
} 

._6nw._61ve button { 
    font-family: inherit;
} 

._43rl { 
    align-items: center; 
    display: flex; 
    justify-content: center; 
    width: 100%;
} 

._271o { 
    flex-shrink: 0;
} 

._271l ._271o  { 
    margin-left: -2px;
} 

._1o4e ._271o  { 
    margin: 0;
} 

.accessible_elem  { 
    clip: rect(1px, 1px, 1px, 1px); 
    height: 1px; 
    overflow: hidden; 
    position: absolute; 
    white-space: nowrap; 
    width: 1px;
} 

.accessible_elem  { 
    height: 0;
} 


@keyframes xagu1eb-B { 
  0%, 6%, 12%, 18% {  
      transform: rotate(-6deg); 
      animation-timing-function: ease-in; 
      transform: rotate(-6deg); 
      animation-timing-function: ease-in; 
  }  
  3%, 9%, 15%, 21% {  
      transform: rotate(7deg); 
      animation-timing-function: ease-out; 
      transform: rotate(7deg); 
      animation-timing-function: ease-out; 
  }  
  24%, 100% {  
      transform: rotate(0); 
      animation-timing-function: ease-in; 
      transform: rotate(0deg); 
      animation-timing-function: ease-in; 
  }  

} 
@keyframes rotateSpinner { 
  0% {  
      transform: rotate(0deg); 
      transform: rotate(0deg); 
  }  
  100% {  
      transform: rotate(360deg); 
      transform: rotate(360deg); 
  }  

} 
/* These were inline style tags. Uses id+class to override almost everything */
#style-joWoZ.style-joWoZ {  
   width: 56px;  
}  
#style-K8s5w.style-K8s5w {  
   display: contents;  
}  
#style-RgF7t.style-RgF7t {  
   display: contents;  
}  
#style-U3edL.style-U3edL {  
   border-radius: 15%;  
    height: 30px;  
    width: 30px;  
}  
#style-1fy92.style-1fy92 {  
   background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/y0/r/wwrPLYIMWpv.png?_nc_eui2=AeFEGeY7RRGZ6sy8SrAvx3rvZ-_6tnDX3zln7_q2cNffOajlDNCJknHcBAa5ezxY0C5Hr4qIc1Zrdb8gSsNZokIn");  
    background-position: 0px -225px;  
    background-size: auto;  
    width: 24px;  
    height: 24px;  
    background-repeat: no-repeat;  
    display: inline-block;  
}  
#style-XZPMM.style-XZPMM {  
   background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/y0/r/wwrPLYIMWpv.png?_nc_eui2=AeFEGeY7RRGZ6sy8SrAvx3rvZ-_6tnDX3zln7_q2cNffOajlDNCJknHcBAa5ezxY0C5Hr4qIc1Zrdb8gSsNZokIn");  
    background-position: 0px -575px;  
    background-size: auto;  
    width: 24px;  
    height: 24px;  
    background-repeat: no-repeat;  
    display: inline-block;  
}  
#style-eHrJT.style-eHrJT {  
   background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/y0/r/wwrPLYIMWpv.png?_nc_eui2=AeFEGeY7RRGZ6sy8SrAvx3rvZ-_6tnDX3zln7_q2cNffOajlDNCJknHcBAa5ezxY0C5Hr4qIc1Zrdb8gSsNZokIn");  
    background-position: 0px -875px;  
    background-size: auto;  
    width: 24px;  
    height: 24px;  
    background-repeat: no-repeat;  
    display: inline-block;  
}  
#style-cIdvL.style-cIdvL {  
   background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/y0/r/wwrPLYIMWpv.png?_nc_eui2=AeFEGeY7RRGZ6sy8SrAvx3rvZ-_6tnDX3zln7_q2cNffOajlDNCJknHcBAa5ezxY0C5Hr4qIc1Zrdb8gSsNZokIn");  
    background-position: 0px -750px;  
    background-size: auto;  
    width: 24px;  
    height: 24px;  
    background-repeat: no-repeat;  
    display: inline-block;  
}  
#style-nRhCF.style-nRhCF {  
   background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/y0/r/wwrPLYIMWpv.png?_nc_eui2=AeFEGeY7RRGZ6sy8SrAvx3rvZ-_6tnDX3zln7_q2cNffOajlDNCJknHcBAa5ezxY0C5Hr4qIc1Zrdb8gSsNZokIn");  
    background-position: 0px -450px;  
    background-size: auto;  
    width: 24px;  
    height: 24px;  
    background-repeat: no-repeat;  
    display: inline-block;  
}  
#style-fP1yG.style-fP1yG {  
   background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/y0/r/wwrPLYIMWpv.png?_nc_eui2=AeFEGeY7RRGZ6sy8SrAvx3rvZ-_6tnDX3zln7_q2cNffOajlDNCJknHcBAa5ezxY0C5Hr4qIc1Zrdb8gSsNZokIn");  
    background-position: 0px -75px;  
    background-size: auto;  
    width: 24px;  
    height: 24px;  
    background-repeat: no-repeat;  
    display: inline-block;  
}  
#style-Cik9H.style-Cik9H {  
   background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/y0/r/wwrPLYIMWpv.png?_nc_eui2=AeFEGeY7RRGZ6sy8SrAvx3rvZ-_6tnDX3zln7_q2cNffOajlDNCJknHcBAa5ezxY0C5Hr4qIc1Zrdb8gSsNZokIn");  
    background-position: 0px -1449px;  
    background-size: auto;  
    width: 20px;  
    height: 20px;  
    background-repeat: no-repeat;  
    display: inline-block;  
}  
#style-AtA37.style-AtA37 {  
   display: none;  
    height: 293px;  
    right: 0px;  
}  
#style-CPY12.style-CPY12 {  
   display: block;  
    height: 0px;  
    right: 0px;  
}  
#style-hqIQw.style-hqIQw {  
   background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/y-/r/WGk4i8XjGKj.png?_nc_eui2=AeHoJFrl6DH5-jKhXiZ4XgGbyx4-zKkxmVDLHj7MqTGZUO9Qo7ikO1jIhcjP3CaMk85WL0lyzdifzk7CFf1nWybA");  
    background-position: -168px -251px;  
    background-size: auto;  
    width: 20px;  
    height: 20px;  
    background-repeat: no-repeat;  
    display: inline-block;  
}  
#style-ZaGVG.style-ZaGVG {  
   position: relative;  
}  
#style-Ja4hE.style-Ja4hE {  
   background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/y0/r/wwrPLYIMWpv.png?_nc_eui2=AeFEGeY7RRGZ6sy8SrAvx3rvZ-_6tnDX3zln7_q2cNffOajlDNCJknHcBAa5ezxY0C5Hr4qIc1Zrdb8gSsNZokIn");  
    background-position: 0px -1155px;  
    background-size: auto;  
    width: 20px;  
    height: 20px;  
    background-repeat: no-repeat;  
    display: inline-block;  
}  
#style-4Mwq1.style-4Mwq1 {  
   position: absolute;  
    top: 0px;  
    right: 0px;  
}  
#style-zCbBH.style-zCbBH {  
   width: 20px;  
    height: 20px;  
    mask-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/y0/r/wwrPLYIMWpv.png?_nc_eui2=AeFEGeY7RRGZ6sy8SrAvx3rvZ-_6tnDX3zln7_q2cNffOajlDNCJknHcBAa5ezxY0C5Hr4qIc1Zrdb8gSsNZokIn");  
    mask-position: 0px -1533px;  
}  
#style-2kM1V.style-2kM1V {  
   width: 20px;  
    height: 20px;  
    mask-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/y0/r/wwrPLYIMWpv.png?_nc_eui2=AeFEGeY7RRGZ6sy8SrAvx3rvZ-_6tnDX3zln7_q2cNffOajlDNCJknHcBAa5ezxY0C5Hr4qIc1Zrdb8gSsNZokIn");  
    mask-position: 0px -1239px;  
}  
#style-8PLEz.style-8PLEz {  
   letter-spacing: normal;  
    color: rgb(255, 255, 255);  
    font-size: 12px;  
    font-weight: bold;  
    font-family: Arial, sans-serif;  
    line-height: 26px;  
    text-align: center;  
    background-color: transparent;  
    border-color: transparent;  
    height: 28px;  
    padding-left: 7px;  
    padding-right: 7px;  
    border-radius: 2px;  
}  
#style-VVaMC.style-VVaMC {  
   background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yN/r/7QnoZvvYNSV.png?_nc_eui2=AeFR0HTZpLFfgaLZiOWCsoKXGEvzKtYsTM8YS_Mq1ixMz9numjqXyGq3r3U5nQZqaBW3JVdckr1ATAT-uSJO9z8H");  
    background-position: 0px -388px;  
    background-size: auto;  
    width: 20px;  
    height: 20px;  
    background-repeat: no-repeat;  
    display: inline-block;  
}  
#style-dVEzm.style-dVEzm {  
   color: rgb(33, 111, 219);  
}  
#style-Nb2lW.style-Nb2lW {  
   width: 20px;  
    height: 20px;  
    mask-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/y0/r/wwrPLYIMWpv.png?_nc_eui2=AeFEGeY7RRGZ6sy8SrAvx3rvZ-_6tnDX3zln7_q2cNffOajlDNCJknHcBAa5ezxY0C5Hr4qIc1Zrdb8gSsNZokIn");  
    mask-position: 0px -1428px;  
}  
#style-hNXil.style-hNXil {  
   background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/y0/r/wwrPLYIMWpv.png?_nc_eui2=AeFEGeY7RRGZ6sy8SrAvx3rvZ-_6tnDX3zln7_q2cNffOajlDNCJknHcBAa5ezxY0C5Hr4qIc1Zrdb8gSsNZokIn");  
    background-position: 0px -1302px;  
    background-size: auto;  
    width: 20px;  
    height: 20px;  
    background-repeat: no-repeat;  
    display: inline-block;  
}  
